Repository BGmi/BGmi: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, isort, yapf, mypy

autoflake:
  name: autoflake
  entry: autoflake
  require_serial: true
  language: system
  args:
  - --in-place
  - --remove-unused-variables
  - --remove-all-unused-imports

flake8:
  name: flake8
  entry: flake8
  require_serial: false
  language: system
  args:
  - --config=setup.cfg

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

yapf:
  name: yapf
  entry: yapf -i
  require_serial: true
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

remove py3.4 support
  README.rst
  setup.py
Due: autoflake, flake8, isort, yapf

fix license in sdist
  LICENSE
  setup.cfg
  setup.py
Due: autoflake, flake8, isort, yapf

fix broken test
  tests/test_controllers.py
Due: autoflake, flake8, isort, yapf

remove py3.4 test
  .travis.yml
Due: none

fix: query exactly before fuzzy
  bgmi/lib/models.py
Due: autoflake, flake8, isort, yapf, mypy

bump requests version range
  requirements.txt
Due: none

release 2.1.3
  bgmi/__init__.py
Due: autoflake, flake8, isort, yapf, mypy

release 2.1.3 (#227)
  bgmi/__init__.py
Due: autoflake, flake8, isort, yapf, mypy

Update README.rst
  README.rst
Due: none

Delete renovate.json
  .github/renovate.json
Due: none

update readme for docker-all-in-one
  README.rst
Due: none

use poetry
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.py
Due: autoflake, flake8, isort, yapf

pyupgrade and isort
  .pre-commit-config.yaml
  MANIFEST.in
  README.cn.md
  bgmi/config.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/base.py
  bgmi/downloader/deluge.py
  bgmi/downloader/transmission_rpc.py
  bgmi/downloader/xunlei.py
  bgmi/front/base.py
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/fetch.py
  bgmi/lib/models.py
  bgmi/main.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/utils/__init__.py
  bgmi/utils/utils.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  requirements.txt
  script_example.py
  tests/test_config.py
  tests/test_controllers.py
  tests/test_data_source.py
  tests/test_http_api.py
  tests/test_script.py
  tests/test_utils.py
Due: autoflake, flake8, isort, yapf, mypy

format code with black
  .pre-commit-config.yaml
  bgmi/__init__.py
  bgmi/config.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/base.py
  bgmi/downloader/deluge.py
  bgmi/downloader/transmission_rpc.py
  bgmi/downloader/xunlei.py
  bgmi/front/admin.py
  bgmi/front/base.py
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/fetch.py
  bgmi/lib/models.py
  bgmi/lib/update.py
  bgmi/main.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/sql.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  script_example.py
  tests/test_config.py
  tests/test_controllers.py
  tests/test_data_source.py
  tests/test_http_api.py
  tests/test_script.py
  tests/test_utils.py
Due: autoflake, flake8, isort, yapf, mypy

add azure pipeline
  .ci/azure-pipelines.yml
  .ci/jobs/lint.yaml
  .ci/templates/install-project.yaml
  poetry.lock
  pyproject.toml
Due: none

remove py2
  bgmi/config.py
Due: autoflake, flake8, isort, yapf, mypy

chore: update pre-commit config
  .pre-commit-config.yaml
  bgmi/lib/cli.py
  bgmi/utils/__init__.py
Due: autoflake, flake8, isort, yapf, mypy

remove compatibility code
  .pre-commit-config.yaml
  bgmi/__init__.py
  bgmi/config.py
  bgmi/lib/constants.py
  poetry.lock
  pyproject.toml
  tests/test_controllers.py
  tests/test_data_source.py
  tests/test_http_api.py
Due: autoflake, flake8, isort, yapf, mypy

fix readme error
  README.rst
Due: none

update readme
  README.rst
Due: none

readme typo
  README.rst
Due: none

remove dockerfile
  Dockerfile
Due: none

update readme cn
  README.cn.md
Due: none

remove files for docker
  others/aria2c.conf
  others/bgmi.conf
  others/supervisord.conf
Due: none

update readme
  README.cn.md
  README.rst
Due: none

chore: update pre-commit config
  .pre-commit-config.yaml
Due: none

docs(readme): update download badge
  README.cn.md
  README.rst
Due: none

fix rst download badge
  README.rst
Due: none

docs: add changelog
  CHANGELOG.md
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

test in azure
  .ci/azure-pipelines.yml
  .ci/jobs/lint.yaml
  .ci/jobs/test.yaml
  .ci/templates/install-project.yaml
  .ci/templates/job.yaml
  .ci/test.sh
  .travis.yml
Due: none

ci: run test weekly
  .ci/azure-pipelines.yml
Due: none

docs(readme): install from source
  README.cn.md
  README.rst
Due: none

build(deps): bump tornado to v6
  bgmi/front/admin.py
  poetry.lock
  pyproject.toml
Due: autoflake, flake8, isort, yapf, mypy

chore: only install pre-commit on py>=3.7
  .ci/jobs/lint.yaml
  poetry.lock
  pyproject.toml
Due: none

style: update pre-commit isort config
  .pre-commit-config.yaml
  bgmi/downloader/deluge.py
  bgmi/front/admin.py
  bgmi/front/base.py
  bgmi/front/resources.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/models.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  script_example.py
  tests/test_controllers.py
  tests/test_http_api.py
  tests/test_script.py
Due: autoflake, flake8, isort, yapf, mypy

Path conditions:
  autoflake: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  yapf: any of: \.py$
  mypy: any of: ^bgmi.*\.py$ and \.py$
