Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

fix(mikan): new episode container format (#1037)
  bgmi/website/mikan.py
Due: app

fix!: drop python39
  pyproject.toml
  uv.lock
Due: none

fix(mikan): new episode container format (#1037) (#1039)
  bgmi/website/mikan.py
Due: app

Reorder baseBranches in renovate.json
  .github/renovate.json
Due: none

ci: upgrade python
  .github/workflows/test.yaml
Due: none

chore: simplify Python version classifiers in pyproject.toml
  pyproject.toml
Due: none

ci: make sure lock python version
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

fix: pydantic v1 not work will with python3.14
  bgmi/config.py
Due: app

update pydantic
  pyproject.toml
  uv.lock
Due: none

update pydantic
  pyproject.toml
Due: none

update pydantic
  uv.lock
Due: none

update pydantic
  bgmi/config.py
  bgmi/front/admin.py
Due: front, app

fix
  bgmi/config.py
  bgmi/website/bangumi_moe.py
Due: app

fix
  bgmi/website/mikan.py
Due: app

fix
  bgmi/config.py
  bgmi/website/base.py
Due: app

fix
  bgmi/config.py
Due: app

fix
  bgmi/website/model.py
Due: app

fix
  bgmi/website/share_dmhy.py
Due: app

fix
  bgmi/config.py
  bgmi/lib/controllers.py
  bgmi/main.py
Due: app

build: upgrade pydantic to v2 (#1050)
  bgmi/config.py
  bgmi/front/admin.py
  bgmi/lib/controllers.py
  bgmi/main.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  pyproject.toml
  uv.lock
Due: front, app

fix #1073
  bgmi/website/mikan.py
Due: app

feat: add per-bangumi disable/enable global filters support
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/main.py
  bgmi/utils/__init__.py
Due: app

fix: replace Todo with Event in calendar handler
  bgmi/front/resources.py
Due: front

fix: add database migration for disable_global_filters field
  bgmi/lib/update.py
Due: app

fix: remove duplicate 'Disable global filters' output in print_filter
  bgmi/main.py
Due: app

ci: add mergify
  .github/mergify.yml
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
Due: none

ci: add mergify
  .github/renovate.json
Due: none

ci: add mergify
  .github/mergify.yml
  .github/renovate.json
Due: none

ci: update mergify
  .github/mergify.yml
Due: none

tests: update bangumi name
  tests/conftest.py
Due: none

chore: add AGENTS.md for AI-assisted development
  AGENTS.md
Due: none

docs: add AGENTS.user-script.md for AI-guided script development
  AGENTS.user-script.md
Due: none

feat: add MCP SSE server with BGmi tools on bgmi_http
  bgmi/front/mcp_server.py
  bgmi/front/server.py
  pyproject.toml
Due: front

chore: update AGENTS.md with HTTP server docs, sync uv.lock
  AGENTS.md
  uv.lock
Due: none
