Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

migrate
  bgmi/__main__.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/main.py
  bgmi/website/base.py
  pyproject.toml
Due: app

migrate
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/main.py
Due: app

fix
  bgmi/front/admin.py
Due: front

fix
  bgmi/session.py
Due: app

fix help
  .github/workflows/test.yaml
  README.md
Due: none

update
  README.md
  bgmi/others/_bgmi_completion_bash.sh
  bgmi/others/_bgmi_completion_zsh.sh
Due: app

fix
  bgmi/lib/cli.py
  bgmi/main.py
Due: app

fix
  bgmi/lib/controllers.py
Due: app

fix test
  .github/workflows/test.yaml
Due: none

fix install
  .github/workflows/test.yaml
  bgmi/main.py
Due: app

fix test
  tests/test_controllers.py
Due: none

fix
  bgmi/main.py
Due: app

fix
  .github/workflows/test-downloader.yaml
Due: none

fix test
  bgmi/main.py
  tests/test_cli.py
  tests/test_download.py
Due: app

update
  bgmi/main.py
Due: app

fix
  bgmi/main.py
  tests/test_cli.py
  tests/test_download.py
Due: app

fix
  tests/test_download.py
Due: none

fix
  tests/test_cli.py
Due: none

refactor: use click (#441)
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
  README.md
  bgmi/front/admin.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/main.py
  bgmi/others/_bgmi_completion_bash.sh
  bgmi/others/_bgmi_completion_zsh.sh
  bgmi/session.py
  bgmi/website/base.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
  tests/test_controllers.py
  tests/test_download.py
Due: front, app

docs
  README.md
Due: none

bump: v4.1.2
  pyproject.toml
Due: none

feat: write config with comment
  bgmi/config.py
  poetry.lock
  pyproject.toml
Due: app

style: mypy
  bgmi/config.py
Due: app

feat: `config set` command to update command
  README.md
  bgmi/main.py
Due: app

update readme
  README.md
Due: none

fix
  README.md
  bgmi/main.py
Due: app

feat: `config set` command to update config (#442)
  README.md
  bgmi/main.py
Due: app

chore: upgrade message
  bgmi/lib/update.py
  bgmi/main.py
Due: app

bump: v4.2.0
  pyproject.toml
Due: none

chore: output message
  bgmi/lib/controllers.py
Due: app

fix: download
  bgmi/lib/controllers.py
Due: app

bump: v4.2.1
  pyproject.toml
Due: none

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
