Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

Show footer when updating
  bgmi/front/nice_server.py
Due: front

Fix mikan for empty subtitle_group
  bgmi/website/base.py
  bgmi/website/model.py
Due: app

Fix dmhy
  bgmi/website/share_dmhy.py
Due: app

Revert "Fix dmhy"
  bgmi/website/share_dmhy.py
Due: app

Revert "Fix mikan for empty subtitle_group"
  bgmi/website/base.py
  bgmi/website/model.py
Due: app

Check subtitle_group is empty or not before updating
  bgmi/website/base.py
Due: app

fix(mikan): ignore empty subtitle_group list (#791)
  bgmi/website/base.py
Due: app

Use HookBase
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/script.py
Due: app

Cleanup
  bgmi/script.py
Due: app

Update readme
  README.md
Due: none

Fix pre-commit
  README.md
Due: none

Use *args, **kwargs
  bgmi/script.py
Due: app

Fix mypy
  bgmi/script.py
Due: app

feat: add Hook (#788)
  README.md
  bgmi/config.py
  bgmi/lib/controllers.py
  bgmi/script.py
Due: app

ci: upgrade deprecated actions
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

chore: replace flake8 with ruff
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

ci: add concurrency.group
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

chore: replace flake8 with ruff (#804)
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

fix
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

format code
  bgmi/lib/controllers.py
  bgmi/main.py
  tests/downloader/test_common.py
  tests/test_utils.py
Due: app

bump: v4.5.0
  pyproject.toml
Due: none

feat: support soft subtitle
  bgmi/front/index.py
Due: front

feat: support soft subtitle
  .pre-commit-config.yaml
Due: none

fix mypy
  bgmi/front/index.py
Due: front

add test
  tests/test_http_api.py
Due: none

feat: support transmission labels and qbittorrent tags
  bgmi/config.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
Due: app, downloader

chore: fix old python
  bgmi/config.py
Due: app

fix label
  bgmi/downloader/transmission.py
Due: downloader

fix labels
  bgmi/downloader/transmission.py
Due: downloader

fix: magnet download name
  bgmi/website/mikan.py
  poetry.lock
  pyproject.toml
Due: app

fix: magnet download name
  bgmi/website/mikan.py
Due: app

fix old python
  bgmi/config.py
Due: app

ci: upgrade actions
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

ci: upgrade actions
  .github/workflows/test.yaml
Due: none

ci: upgrade actions (#831)
  .github/workflows/test.yaml
Due: none

ci: use docker compose v2
  .github/workflows/test-downloader.yaml
Due: none
