Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

bump: v4.2.2
  pyproject.toml
Due: none

fix: update command cannot update scripts subscription
  bgmi/script.py
Due: app

test: add test case for script_update
  bgmi/lib/models.py
  tests/conftest.py
  tests/test_cli.py
Due: app

fix: update command cannot update scripts subscription (#448)
  bgmi/lib/models.py
  bgmi/script.py
  tests/conftest.py
  tests/test_cli.py
Due: app

bump: v4.2.3
  pyproject.toml
Due: none

bump: v4.2.4
  pyproject.toml
Due: none

fix: tomlkit wrapped string
  bgmi/config.py
Due: app

bump: v4.2.5
  pyproject.toml
Due: none

feat: add `debug info` cmd for bug report
  .github/ISSUE_TEMPLATE/bug_report.md
  bgmi/main.py
Due: app

bump: v4.2.6
  pyproject.toml
Due: none

style: mypy
  bgmi/main.py
Due: app

feat: add option `--save-path` to specify bangumi save path
  README.md
  bgmi/main.py
Due: app

bump: v4.3.0
  pyproject.toml
Due: none

fix: --save-path not provided
  bgmi/main.py
Due: app

bump: v4.3.1
  pyproject.toml
Due: none

fix: print config
  bgmi/main.py
Due: app

bump: v4.3.2
  pyproject.toml
Due: none

fix: Followed.episode is null
  bgmi/lib/controllers.py
  bgmi/lib/models.py
Due: app

bump: v4.3.3
  pyproject.toml
Due: none

refactor: comment
  bgmi/lib/controllers.py
Due: app

style(pylint): ignore fixme
  pyproject.toml
Due: none

chore: todo comment
  bgmi/lib/controllers.py
Due: app

fix: cookies dump/loading
  bgmi/session.py
Due: app

fix: set default Followed.episode
  bgmi/lib/controllers.py
Due: app

bump: v4.3.4
  pyproject.toml
Due: none

sqlalchemy
  bgmi/front/index.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/main.py
  poetry.lock
  pyproject.toml
  table.py
  tests/test_cli.py
Due: front, app

migrate more
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/website/base.py
Due: app

type
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/website/base.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_download.py
  tests/test_models.py
Due: front, app

fix
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/setup.py
  bgmi/website/base.py
Due: app

fix
  bgmi/lib/table.py
Due: app

fix
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/website/base.py
  poetry.lock
  pyproject.toml
Due: app

fix
  bgmi/script.py
  bgmi/website/base.py
Due: app

fix
  bgmi/lib/table.py
  bgmi/script.py
  bgmi/website/base.py
  tests/test_cli.py
Due: app

fix test
  bgmi/lib/controllers.py
Due: app

test
  tests/test_cli.py
Due: none

update
  bgmi/lib/controllers.py
  tests/test_controllers.py
Due: app

fix
  tests/test_http_api.py
Due: none

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
