Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

style
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/share_dmhy.py
Due: app

style
  bgmi/utils/__init__.py
  pyproject.toml
Due: app

style
  bgmi/front/index.py
Due: front

style
  bgmi/website/model.py
Due: app

remove importlib_metadata
  bgmi/__init__.py
  bgmi/lib/cli.py
  poetry.lock
  pyproject.toml
Due: app

upgrade deps
  README.cn.md
  README.md
Due: none

fix group
  bgmi/lib/cli.py
Due: app

add version to setup-python
  .github/workflows/build.yaml
Due: none

build: upgrade deps (#325)
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
  README.cn.md
  README.md
  bgmi/__init__.py
  bgmi/front/index.py
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
Due: front, app

bump: 2.2.11
  pyproject.toml
Due: none

bump: 2.2.13
  pyproject.toml
Due: none

chore: add `python-poetry/poetry` to pre-commit hooks
  .pre-commit-config.yaml
Due: none

style: remove pre-commit hook `trim21/pre-commit-hooks`
  .pre-commit-config.yaml
Due: none

style: upgrade some syntax to python38
  .pre-commit-config.yaml
  bgmi/front/server.py
  tests/conftest.py
Due: front

chore: add renovatebot config
  .github/renovate.json
Due: none

chore: enable pre-commit hook auto update
  .github/renovate.json
Due: none

chore: fix renovatebot config
  .github/renovate.json
Due: none

chore: enable pre-commit in renovatebot
  .github/renovate.json
Due: none

style: upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: group pre-commit hooks in renovatebot
  .github/renovate.json
Due: none

Update renovate.json
  .github/renovate.json
Due: none

chore: update lock file weekly
  .github/renovate.json
Due: none

docs: update changelog location
  README.md
Due: none

docs: update ci badge
  README.cn.md
  README.md
Due: none

refactor: fix deprecated warning
  bgmi/lib/cli.py
Due: app

bump: 2.2.14
  pyproject.toml
Due: none

fix(bangumi.moe): air week day
  bgmi/website/bangumi_moe.py
Due: app

bump: 2.2.15
  pyproject.toml
Due: none

refactor: add some type annotations
  bgmi/website/bangumi_moe.py
Due: app

style: time to use 120 line width
  bgmi/config.py
  bgmi/downloader/aria2_rpc.py
  bgmi/front/admin.py
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/fetch.py
  bgmi/lib/models.py
  bgmi/main.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  pyproject.toml
  tests/conftest.py
  tests/downloader/conftest.py
  tests/downloader/test_common.py
  tests/test_controllers.py
  tests/test_http_api.py
  tests/test_utils.py
Due: front, app, downloader

chore: cnpm is not used anymore
  bgmi/utils/__init__.py
Due: app

refactor: no use cnpm
  bgmi/utils/__init__.py
Due: app

style: update lint config
  bgmi/lib/controllers.py
  bgmi/utils/__init__.py
  bgmi/website/share_dmhy.py
  pyproject.toml
  setup.cfg
Due: app

Update test.yaml
  .github/workflows/test.yaml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

ci: enable test on python 3.11 (#341)
  .github/workflows/test.yaml
  pyproject.toml
Due: none

upgrade mypy
  bgmi/front/base.py
  bgmi/lib/controllers.py
  bgmi/utils/__init__.py
  bgmi/website/base.py
Due: front, app

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
