Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

bump: v5.0.0-alpha.3
  pyproject.toml
Due: none

save each episodes
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/website/model.py
Due: front, app

refactor: try fix update problem
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/main.py
  tests/test_download.py
Due: app

changelog
  README.md
Due: none

fix: downloaded episode tracking
  bgmi/downloader/noop.py
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/website/base.py
Due: app, downloader

fix: shoule be able to set iterable value
  bgmi/lib/table.py
Due: app

tests: fix
  bgmi/downloader/noop.py
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  pyproject.toml
  tests/conftest.py
  tests/test_download.py
  tests/test_http_api.py
Due: front, app, downloader

tests: fix
  tests/conftest.py
  tests/e2e/test_cli.py
Due: none

tests: fix
  tests/conftest.py
Due: none

tests: fix
  bgmi/lib/controllers.py
Due: app

tests: fix
  poetry.lock
  pyproject.toml
Due: none

tests: fix
  pyproject.toml
Due: none

sort update order
  bgmi/lib/controllers.py
  poetry.lock
  pyproject.toml
Due: app

fix style
  bgmi/lib/controllers.py
Due: app

variable change
  bgmi/downloader/qbittorrent.py
Due: downloader

feature: add config for mikan url
  bgmi/config.py
  bgmi/website/mikan.py
Due: app

logging: some debug log
  bgmi/website/mikan.py
Due: app

README: config for mikan_url
  README.md
Due: none

feature: strip tail '/'
  bgmi/website/mikan.py
Due: app

feat: mikan mirror site url config (#489)
  README.md
  bgmi/config.py
  bgmi/website/mikan.py
Due: app

bump: v4.4.0
  pyproject.toml
Due: none

chore: badge
  README.md
Due: none

docs: changelog
  README.md
Due: none

disable bandit
  pyproject.toml
Due: none

bump: v4.4.1
  pyproject.toml
Due: none

bump: v4.4.2
  pyproject.toml
Due: none

chore: remove pylint
  .github/matcher/pylint.json
  .github/workflows/lint.yaml
  poetry.lock
  pyproject.toml
Due: none

fix: use magnet link so downloader does not need a proxy
  bgmi/website/mikan.py
Due: app

bump: v4.4.3
  pyproject.toml
Due: none

fix(mikan): new rss format (#528)
  bgmi/website/mikan.py
Due: app

Fix for new rss format in mikan
  bgmi/website/mikan.py
Due: app

Simplify expression
  bgmi/website/mikan.py
Due: app

Fix lint
  bgmi/website/mikan.py
Due: app

Revert "Simplify expression"
  bgmi/website/mikan.py
Due: app

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
