Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

fix
  bgmi/config.py
Due: app

fix
  bgmi/lib/download.py
Due: app

fix: magnet without default trackers
  bgmi/lib/download.py
Due: app

fix
  bgmi/website/share_dmhy.py
Due: app

fix
  bgmi/website/model.py
Due: app

fix warning
  bgmi/website/model.py
Due: app

fix warning
  bgmi/config.py
Due: app

debug
  bgmi/front/server.py
  tests/test_http_api.py
Due: front

fix warning
  bgmi/front/server.py
  tests/test_http_api.py
Due: front

fix warning
  bgmi/front/routes.py
  tests/test_http_api.py
Due: front

refactor: upgrade pydantic to v2 (#623)
  bgmi/config.py
  bgmi/front/routes.py
  bgmi/front/server.py
  bgmi/main.py
  bgmi/website/bangumi_moe.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  tests/test_http_api.py
Due: front, app

Update test.yaml
  .github/workflows/test.yaml
Due: none

fix: filter more character in bangumi name
  bgmi/utils/__init__.py
Due: app

Revert "fix: filter more character in bangumi name"
  bgmi/utils/__init__.py
Due: app

ci: merge queue
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
Due: none

fix: normalize_path
  bgmi/utils/__init__.py
  bgmi/utils/utils_test.py
Due: app

ci: add test-all-pass job for all tests
  .github/workflows/test.yaml
Due: none

chore: fix mypy
  bgmi/utils/utils_test.py
Due: app

ci: stable test name
  .github/workflows/test.yaml
Due: none

Revert "ci: stable test name"
  .github/workflows/test.yaml
Due: none

fix
  bgmi/lib/controllers.py
  bgmi/website/mikan.py
  tests/e2e/test_data_source.py
Due: app

Fix escaped characters in bangumi title from dmhy
  bgmi/website/share_dmhy.py
Due: app

Simplify regular expression
  bgmi/website/share_dmhy.py
Due: app

fix(dmhy): escaped characters in bangumi title
  bgmi/website/share_dmhy.py
Due: app

bump: v4.4.7
  pyproject.toml
Due: none

ci: add python312 to test matrix
  .github/workflows/test.yaml
  pyproject.toml
Due: none

up
  .github/workflows/test.yaml
Due: none

remove uvloop
  poetry.lock
  pyproject.toml
Due: none

test more
  .github/workflows/test.yaml
Due: none

ci: add py312 to test matrix (#719)
  .github/workflows/test.yaml
  poetry.lock
  pyproject.toml
Due: none

enable testing on python3.12
  .github/workflows/test.yaml
Due: none

pass
  .github/workflows/test.yaml
Due: none

ci: enable testing on python3.12 (#720)
  .github/workflows/test.yaml
Due: none

docs: manually edited config file
  README.md
Due: none

docs: update readme
  README.md
Due: none

chore: renovatebot config
  .github/renovate.json
Due: none

update readme
  README.md
  bgmi/main.py
Due: app
