Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader, tests

diff
  bgmi/lib/download.py
  bgmi/lib/models.py
Due: app

diff
  bgmi/script.py
Due: app

style: add pylint (#289)
  .github/matcher/pylint.json
  .github/workflows/lint.yaml
  bgmi/downloader/base.py
  bgmi/front/admin.py
  bgmi/front/index.py
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/models.py
  bgmi/main.py
  bgmi/script.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  codecov.yml
  poetry.lock
  pyproject.toml
  script_example.py
  tests/test_http_api.py
Due: front, app, downloader, tests

wip
  bgmi/__init__.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/plugin/__init__.py
  bgmi/plugin/base.py
  bgmi/plugin/status.py
Due: app, downloader

update deluge
  a.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/utils/torrent.py
Due: app, downloader

update base spec
  bgmi/downloader/transmission.py
  bgmi/plugin/base.py
Due: app, downloader

impl aria2
  bgmi/downloader/aria2_rpc.py
  tests/downloader/docker-compose.yaml
Due: downloader, tests

didn't call base contractor
  bgmi/__init__.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/plugin/base.py
Due: app, downloader

remove unexpected diff
  a.py
Due: none

impl qbittorrent
  bgmi/downloader/qbittorrent.py
Due: downloader

refactor core
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/lib/cli.py
  bgmi/lib/download.py
  bgmi/plugin/base.py
  bgmi/plugin/status.py
  poetry.lock
  pyproject.toml
Due: app, downloader

refactor core test
  bgmi/config.py
  tests/conftest.py
  tests/test_downloader.py
Due: app, tests

type
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/deluge.py
  bgmi/lib/download.py
  bgmi/plugin/base.py
  bgmi/utils/torrent.py
  pyproject.toml
Due: app, downloader

diff
  bgmi/config.py
Due: app

add stevedore
  bgmi/downloader/__init__.py
  bgmi/downloader/base.py
  bgmi/lib/download.py
  poetry.lock
  pyproject.toml
  tests/test_download.py
Due: app, downloader, tests

update test
  tests/test_download.py
Due: tests

add new class method to check config
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/lib/download.py
  bgmi/plugin/base.py
  tests/downloader/test_aria2.py
Due: app, downloader, tests

fix tests
  tests/downloader/test_aria2.py
Due: tests

test downloader
  .github/workflows/test.yaml
  tests/downloader/docker-compose.yaml
Due: tests

up container
  .github/workflows/test.yaml
Due: none

typo
  tests/downloader/docker-compose.yaml
Due: tests

aria2 real test
  tests/downloader/conftest.py
  tests/downloader/docker-compose.yaml
  tests/downloader/test_aria2.py
Due: tests

fix test
  tests/downloader/test_aria2.py
Due: tests

fix
  poetry.lock
  pyproject.toml
  tests/downloader/test_aria2.py
  tests/downloader/test_deluge.py
Due: tests

fix
  tests/downloader/test_deluge.py
  tests/downloader/test_qbittorrent.py
  tests/downloader/test_transmission.py
Due: tests

fix
  bgmi/downloader/aria2_rpc.py
  tests/downloader/test_aria2.py
  tests/downloader/test_deluge.py
Due: downloader, tests

update
  .github/workflows/test.yaml
Due: none

fix aria2 get_status
  bgmi/downloader/aria2_rpc.py
Due: downloader

add test
  bgmi/downloader/aria2_rpc.py
  tests/downloader/conftest.py
  tests/downloader/test_aria2.py
  tests/downloader/test_deluge.py
Due: downloader, tests

fix
  bgmi/downloader/deluge.py
Due: downloader

fix
  bgmi/downloader/deluge.py
  bgmi/plugin/base.py
  tests/downloader/docker-compose.yaml
Due: app, downloader, tests

fix test
  .github/workflows/test.yaml
  bgmi/downloader/deluge.py
  tests/downloader/setup.py
Due: downloader, tests

add comments
  tests/downloader/setup.py
Due: tests

up
  .github/workflows/test.yaml
Due: none

fix
  tests/downloader/docker-compose.yaml
  tests/downloader/test_aria2.py
  tests/downloader/test_common.py
  tests/downloader/test_deluge.py
Due: tests

up
  tests/downloader/docker-compose.yaml
  tests/downloader/test_common.py
Due: tests

fix
  bgmi/main.py
  bgmi/session.py
  bgmi/website/mikan.py
Due: app

fix
  tests/conftest.py
Due: tests

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
  tests: any of: tests/
