Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

fix test
  tests/test_download.py
Due: none

fix test
  bgmi/lib/models.py
Due: app

fix
  bgmi/downloader/aria2_rpc.py
Due: downloader

fix test
  tests/test_config.py
Due: none

ci
  bgmi/website/mikan.py
Due: app

fix: some bangumi of mikan is invisible without login (#417)
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/session.py
  bgmi/website/mikan.py
Due: app

bump: v2.3.2
  pyproject.toml
Due: none

fix test
  bgmi/session.py
Due: app

update
  poetry.lock
  pyproject.toml
Due: none

fix test
  .github/workflows/test.yaml
Due: none

update
  tests/downloader/test_deluge.py
Due: none

update readme
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/front/index.py
Due: front, app

fix
  bgmi/config.py
  bgmi/front/admin.py
  bgmi/front/base.py
  bgmi/front/server.py
  tests/test_http_api.py
Due: front, app

lint
  bgmi/config.py
Due: app

bump: v3.0.0
  pyproject.toml
Due: none

finish
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/lib/cli.py
  bgmi/lib/download.py
  bgmi/script.py
  bgmi/utils/__init__.py
  tests/fixtures/test-save-path/ss/1/q/1.mkv
  tests/fixtures/test-save-path/ss/1/q/bigger.mkv
  tests/fixtures/test-save-path/ss/2/2.mp4
  tests/test_utils.py
Due: front, app

update
  README.cn.md
  README.md
Due: none

fix
  bgmi/front/index.py
Due: front

fix
  bgmi/lib/cli.py
Due: app

fix test
  bgmi/front/index.py
  tests/test_utils.py
Due: front

feat: per-bangumi save path config (#419)
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/lib/cli.py
  bgmi/lib/download.py
  bgmi/script.py
  bgmi/utils/__init__.py
  tests/fixtures/test-save-path/ss/1/q/1.mkv
  tests/fixtures/test-save-path/ss/1/q/bigger.mkv
  tests/fixtures/test-save-path/ss/2/2.mp4
  tests/test_utils.py
Due: front, app

bump: v3.1.0
  pyproject.toml
Due: none

fix: episode parser
  bgmi/utils/__init__.py
  tests/test_utils.py
Due: app

bump: v3.1.1
  pyproject.toml
Due: none

refactor: print torrent title when downloading failed
  bgmi/lib/download.py
Due: app

feat: global include keywords
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/lib/models.py
Due: app

bump: v3.2.0
  pyproject.toml
Due: none

docs: update
  README.cn.md
  README.md
Due: none

chore: deps
  poetry.lock
  pyproject.toml
Due: none

refactor: move episode parser to seprated package
  bgmi/utils/__init__.py
  poetry.lock
  pyproject.toml
Due: app

style: lint
  bgmi/utils/__init__.py
Due: app

style: move flake8 config to pyproject.toml
  bgmi/utils/__init__.py
  poetry.lock
  pyproject.toml
  setup.cfg
Due: app

chore: move changelog.md to docs/
  docs/CHANGELOG.md
Due: none

chore: move script example to tests/
  README.md
  docs/bgmi.conf
  tests/conftest.py
  tests/script_example.py
Due: none

chore: deps
  README.cn.md
  README.md
  poetry.lock
  pyproject.toml
Due: none

Update renovate.json
  .github/renovate.json
Due: none
