Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader, tests

codecov.yml:

coverage:
  precision: 2         # how many decimal places to display in the UI: 0 <= value <= 4
  round: down          # how coverage is rounded: down/up/nearest
  range: 50...80      # custom range of coverage colors from red -> yellow -> green

  status:
    project:                   # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader
      test:
        target: 95%
        flags: tests
      default: off                 # context, you can create multiple ones with custom titles

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - '!bgmi/front/'
      - '!bgmi/downloader/'
  downloader:
    paths:
      - bgmi/downloader/
  tests:
    paths:
      - tests/

refactor(mikan): readability improvement
  .gitignore
  bgmi/website/mikan.py
Due: app

build(deps): pin dependencies
  poetry.lock
  pyproject.toml
Due: none

fix(mikan): handle server instability response
  README.cn.md
  bgmi/website/mikan.py
Due: app

refactor(mikan): debug message
  bgmi/website/mikan.py
Due: app

tests(script): remove request to static.ricterz.me
  tests/test_script.py
Due: tests

build: remove duplicated files from sdist
  pyproject.toml
Due: none

build: fix readme render no pypi
  README.rst
Due: none

ci: test publish pypi
  .ci/azure-pipelines.yml
  .ci/jobs/pypi.yaml
Due: none

fix(mikan): handle server instability response
  bgmi/website/mikan.py
Due: app

docs: fix python syntax error
  .ci/templates/job.yaml
  README.cn.md
  docs/http.api.yaml
Due: none

tests: enable some tests on all platform
  .ci/jobs/test.yaml
  .ci/test.sh
  bgmi/main.py
  bgmi/utils/__init__.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_controllers.py
  tests/test_data_source.py
  tests/test_http_api.py
Due: app, tests

fix(script): remove deprecated imp module
  bgmi/script.py
Due: app

chore: allow dump mikan html to tmp path with env
  .ci/jobs/test.yaml
  .ci/templates/job.yaml
  bgmi/website/mikan.py
Due: app

ci: refactor
  .ci/azure-pipelines.yml
  .ci/jobs/binary.yaml
  .ci/jobs/lint.yaml
  .ci/jobs/pypi.yaml
  .ci/templates/job.yaml
  .pre-commit-config.yaml
Due: none

style: yamlfmt
  .ci/azure-pipelines.yml
  .ci/jobs/binary.yaml
  .ci/jobs/lint.yaml
  .ci/jobs/pypi.yaml
  .ci/jobs/release.yaml
  .ci/jobs/test.yaml
  .ci/templates/install-project.yaml
  .ci/templates/job.yaml
  .pre-commit-config.yaml
  codecov.yml
Due: none

tests: speedup
  .ci/jobs/test.yaml
  .pre-commit-config.yaml
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  pytest.ini
  tests/conftest.py
  tests/test_cli.py
Due: app, tests

ci: collect test results
  .ci/jobs/test.yaml
Due: none

fix(mikan): retry on http error
  .ci/jobs/test.yaml
  bgmi/website/mikan.py
Due: app

fix: retry http requests on error
  bgmi/main.py
  bgmi/website/mikan.py
Due: app

docs: update changelog
  CHANGELOG.md
Due: none

ci: exclude docs only change
  .ci/azure-pipelines.yml
Due: none

tests: patch requests adapter when testing
  .ci/jobs/test.yaml
  bgmi/website/mikan.py
  tests/conftest.py
Due: app, tests

chore: codecov exclude
  poetry.lock
  pyproject.toml
Due: none

feat: allow `Unknown` as bangumi update_time
  bgmi/front/resources.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/model.py
  tests/test_cli.py
  tests/test_controllers.py
Due: front, app, tests

feat: don't fetch all bangumi info when show calendar
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/script.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
  tests/test_data_source.py
Due: app, tests

fix: update bangumi info when updating
  bgmi/lib/controllers.py
Due: app

fix: ignore Unknown update_time overwrite
  bgmi/website/base.py
Due: app

chore: add transmissionrpc to deps
  bgmi/downloader/transmission_rpc.py
  bgmi/website/base.py
  poetry.lock
  pyproject.toml
Due: app, downloader

tests: ensure test_script.py in SCRIPT_PATH
  .ci/jobs/test.yaml
  tests/conftest.py
Due: tests

style: add mypy
  .pre-commit-config.yaml
  bgmi/config.py
  bgmi/downloader/deluge.py
  bgmi/front/admin.py
  bgmi/front/base.py
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/fetch.py
  bgmi/lib/models.py
  bgmi/lib/update.py
  bgmi/main.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/sql.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_data_source.py
  tests/test_downloader.py
  tests/test_http_api.py
Due: front, app, downloader, tests

fix: don't fetch full calendar every times
  bgmi/lib/controllers.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
Due: app

refactor: move cover downloader to controller
  bgmi/lib/controllers.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  tests/test_data_source.py
Due: app, tests

docs: update readme
  README.cn.md
  README.rst
Due: none

tests: try rerun failures
  .ci/jobs/test.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

refactor: reduce dict
  README.cn.md
  README.rst
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/fetch.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  tests/test_data_source.py
  tests/test_downloader.py
Due: app, tests

refactor: remove some utils from `BaseWebsite`
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/utils/__init__.py
  bgmi/website/base.py
  bgmi/website/model.py
  tests/test_utils.py
Due: app, tests

build(deps): don't pin wcwitdh
  poetry.lock
  pyproject.toml
Due: none

ci: set rerun delay to 5s
  .ci/jobs/test.yaml
  .ci/templates/install-project.yaml
  .ci/templates/job.yaml
Due: none

tests: add count param to search_by_keyword
  tests/test_data_source.py
Due: tests

ci: ignore codecov upload failure
  .ci/jobs/test.yaml
Due: none
