Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader, tests

chore: flake8 will ignore .venv dir
  setup.cfg
Due: none

tests: update bangumi name in test case
  tests/conftest.py
  tests/test_cli.py
Due: tests

ci: update pipeline template version
  .ci/azure-pipelines.yml
Due: none

fix: bgmi search for mikan,dmhy (#244)
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  tests/test_data_source.py
Due: app, tests

docs: update readme
  README.rst
Due: none

fix: imperfect episode parsing
  bgmi/utils/__init__.py
Due: app

fix: parse episode with E prefix in brackets
  bgmi/utils/__init__.py
  tests/test_utils.py
Due: app, tests

sync from upstream
  tests/test_utils.py
Due: tests

fix: episode parsing (#249)
  bgmi/utils/__init__.py
  tests/test_utils.py
Due: app, tests

v2.1.4
  pyproject.toml
Due: none

tests: add py3.9
  .ci/templates/job.yaml
  .github/workflows/lint.yaml
  pyproject.toml
Due: none

docs: improve help message
  bgmi/lib/constants.py
Due: app

docs: typo in readme
  README.cn.md
Due: none

chore(deps): upgrade deps
  .github/workflows/lint.yaml
  poetry.lock
  pyproject.toml
Due: none

build: set build-backend to poetry-core
  pyproject.toml
Due: none

docs(readme): add update log
  README.rst
Due: none

docs: update changelog
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  CHANGELOG.md
Due: none

docs(readme): migrate to markdown
  README.md
  README.rst
  pyproject.toml
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs: remove misleading example
  script_example.py
Due: none

fix(update): catch network error when fetching bangumi info
  bgmi/lib/controllers.py
Due: app

fix(update): catch network error when fetching bangumi info (#254)
  bgmi/lib/controllers.py
Due: app

docs: update changelog and template
  .chglog/CHANGELOG.tpl.md
  CHANGELOG.md
Due: none

build(deps): update deps-prod
  poetry.lock
  pyproject.toml
Due: none

chore(deps-dev): update dependency flake8-bugbear to v21
  poetry.lock
  pyproject.toml
Due: none

docs: fix typo in CN readme
  README.cn.md
Due: none

fix: always read config file as utf-8
  bgmi/config.py
Due: app

write default config with utf8
  bgmi/config.py
Due: app

fix(config): always read config file as utf-8 (#257)
  bgmi/config.py
Due: app

chore(deps-dev): update deps-dev
  poetry.lock
  pyproject.toml
Due: none

chore: remove pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: update poetry.lock
  poetry.lock
Due: none

v2.1.5
  CHANGELOG.md
  pyproject.toml
Due: none

chore: update license
  LICENSE
Due: none

feat: add qbittorrent downloader
  README.md
  bgmi/config.py
  bgmi/downloader/qbittorrent.py
  bgmi/lib/download.py
Due: app, downloader

tests(downloader): add qbittorrent webapi tests
  README.md
  bgmi/config.py
  bgmi/downloader/qbittorrent.py
  pyproject.toml
  tests/downloader/test_qbittorrent.py
Due: app, downloader, tests

chore: update poetry.lock
  bgmi/downloader/qbittorrent.py
  bgmi/lib/download.py
  poetry.lock
  tests/downloader/test_qbittorrent.py
Due: app, downloader, tests

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
  tests: any of: tests/
