Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

fix
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/website/bangumi_moe.py
  bgmi/website/mikan.py
  bgmi/website/model.py
Due: app

test
  bgmi/main.py
  tests/e2e/test_cli.py
  tests/test_controllers.py
Due: app

update
  README.md
  bgmi/main.py
Due: app

refactor
  bgmi/lib/controllers.py
  bgmi/main.py
Due: app

mark command
  README.md
  bgmi/main.py
  tests/e2e/test_cli.py
Due: app

add noop downloader
  .github/workflows/test.yaml
  bgmi/downloader/__init__.py
  bgmi/downloader/noop.py
  bgmi/plugin/download.py
  pyproject.toml
Due: app, downloader

fix test
  tests/test_controllers.py
Due: none

fix test
  .github/workflows/test.yaml
Due: none

fix crontab
  bgmi/lib/update.py
  bgmi/main.py
  bgmi/others/crontab.sh
  bgmi/setup.py
Due: app

cron
  bgmi/setup.py
Due: app

fix list command
  bgmi/lib/controllers.py
  bgmi/main.py
Due: app

fix lint
  bgmi/setup.py
Due: app

fix mypy
  bgmi/setup.py
Due: app

update deps
  poetry.lock
  pyproject.toml
Due: none

refactor
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/website/base.py
Due: front, app

fix
  bgmi/main.py
  bgmi/script.py
Due: app

fix: should not download episodes twice
  bgmi/lib/controllers.py
Due: app

bump: v4.3.5
  pyproject.toml
Due: none

refactor: calendar do not need auth anymore
  bgmi/front/routes.py
  tests/test_http_api.py
Due: front

fix calendar cover
  bgmi/front/routes.py
Due: front

fix subtitle filter
  bgmi/front/routes.py
Due: front

style: replace pylint with ruff
  .github/matcher/pylint.json
  .github/workflows/lint.yaml
  bgmi/main.py
  poetry.lock
  pyproject.toml
Due: app

fix lint
  bgmi/front/routes.py
Due: front

fix test
  bgmi/front/routes.py
  tests/test_http_api.py
Due: front

fix cover url
  bgmi/front/routes.py
Due: front

style: ruff config
  poetry.lock
  pyproject.toml
Due: none

style: enable some ruff rules
  bgmi/downloader/deluge.py
  bgmi/front/routes.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/utils/__init__.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  pyproject.toml
Due: front, app, downloader

style: enable some ruff rules
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/main.py
  bgmi/setup.py
  bgmi/utils/__init__.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  pyproject.toml
Due: app

style: enable some ruff rules
  bgmi/config.py
  bgmi/downloader/deluge.py
  bgmi/lib/download.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  pyproject.toml
Due: app, downloader

style: disable rule
  pyproject.toml
Due: none

enable ci on windows
  .github/workflows/test.yaml
Due: none

chore: enable renovate for all version branch
  .github/renovate.json
Due: none

chore: base branch
  .github/renovate.json
Due: none

ci: trigger
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
  .github/workflows/un-released.yaml
Due: none

ci: trigger
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

refactor: try fix update problem
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/main.py
  tests/test_download.py
Due: app

save each episodes
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/website/model.py
Due: front, app
