Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

fix
  .github/workflows/test.yaml
Due: none

fix
  bgmi/lib/controllers.py
Due: app

fix
  bgmi/lib/controllers.py
  bgmi/lib/table.py
Due: app

fix
  bgmi/lib/table.py
Due: app

fix
  bgmi/front/index.py
Due: front

fix
  pyproject.toml
Due: none

fix
  poetry.lock
  pyproject.toml
Due: none

fix
  poetry.lock
  pyproject.toml
  table.py
Due: none

update
  README.md
Due: none

refactor: replace peewee with Sqlalchemy (#453)
  .github/workflows/test.yaml
  README.md
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/models.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/website/base.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_controllers.py
  tests/test_download.py
  tests/test_http_api.py
  tests/test_models.py
Due: front, app

bump: v4.4.0-alpha.0
  pyproject.toml
Due: none

fix: pep440 version
  bgmi/lib/update.py
  poetry.lock
  pyproject.toml
Due: app

bump: v4.4.0-alpha.1
  pyproject.toml
Due: none

fix: cmd `cal` should show episodes
  bgmi/lib/table.py
  bgmi/lib/update.py
Due: app

bump: v4.4.0-alpha.2
  pyproject.toml
Due: none

style: lint
  bgmi/lib/table.py
Due: app

fix: python3.9 syntax
  bgmi/lib/table.py
Due: app

bump: v4.4.0-alpha.3
  pyproject.toml
Due: none

perf: avoid db unnecessary query
  bgmi/lib/controllers.py
Due: app

tests
  tests/test_controllers.py
Due: none

refactor: unify column name
  bgmi/lib/download.py
  bgmi/lib/table.py
Due: app

refactor: unify column name
  bgmi/lib/download.py
Due: app

refactor: download
  bgmi/lib/download.py
Due: app

refactor: download episodes
  bgmi/front/admin.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/main.py
  bgmi/script.py
Due: front, app

refactor: download episodes
  bgmi/lib/controllers.py
  tests/test_download.py
Due: app

tests
  tests/test_utils.py
Due: none

refactor
  bgmi/lib/controllers.py
  bgmi/main.py
  bgmi/website/base.py
  tests/test_download.py
Due: app

tests: split e2e test
  .github/workflows/test.yaml
  bgmi/lib/controllers.py
  tests/e2e/__init__.py
  tests/e2e/test_cli.py
  tests/e2e/test_data_source.py
  tests/test_controllers.py
  tests/test_download.py
Due: app

use sqlite json column type
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/website/base.py
  tests/test_controllers.py
Due: app

merge object
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/lib/update.py
  bgmi/main.py
  bgmi/website/base.py
Due: app

fix old file
  bgmi/lib/table.py
  bgmi/setup.py
Due: app

fix test
  tests/e2e/test_cli.py
Due: none

fix test
  tests/test_controllers.py
  tests/test_models.py
Due: none

fix test
  .github/workflows/test.yaml
Due: none

fix test
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/script.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  tests/e2e/test_data_source.py
Due: app

fix test
  bgmi/lib/table.py
Due: app

fix test
  bgmi/website/bangumi_moe.py
  tests/test_download.py
Due: app

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
