Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

fix subtitle filter
  bgmi/front/routes.py
Due: front

more
  bgmi/lib/controllers.py
Due: app

style: replace pylint with ruff
  .github/workflows/lint.yaml
  bgmi/main.py
  pyproject.toml
Due: app

fix test
  tests/test_controllers.py
Due: none

tests: fix
  bgmi/downloader/noop.py
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  pyproject.toml
  tests/conftest.py
  tests/test_download.py
  tests/test_http_api.py
Due: front, app, downloader

bump: v5.0.0-alpha.3
  pyproject.toml
Due: none

style: enable some ruff rules
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/main.py
  bgmi/setup.py
  bgmi/utils/__init__.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  pyproject.toml
Due: app

enable ci on windows
  .github/workflows/test.yaml
Due: none

tests: fix
  tests/conftest.py
Due: none

style: enable some ruff rules
  bgmi/downloader/deluge.py
  bgmi/front/routes.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/utils/__init__.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  pyproject.toml
Due: front, app, downloader

tests: fix
  bgmi/lib/controllers.py
Due: app

style: enable some ruff rules
  bgmi/config.py
  bgmi/downloader/deluge.py
  bgmi/lib/download.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  pyproject.toml
Due: app, downloader

tests: fix
  pyproject.toml
Due: none

fix: shoule be able to set iterable value
  bgmi/lib/table.py
Due: app

changelog
  README.md
Due: none

style: disable rule
  pyproject.toml
Due: none

fix: downloaded episode tracking
  bgmi/downloader/noop.py
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/website/base.py
Due: app, downloader

ci: trigger
  .github/workflows/test.yaml
Due: none

style: ruff config
  pyproject.toml
Due: none

save each episodes
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
Due: front, app

tests: fix
  tests/conftest.py
  tests/e2e/test_cli.py
Due: none

sort update order
  bgmi/lib/controllers.py
  pyproject.toml
Due: app

refactor: try fix update problem
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/main.py
  tests/test_download.py
Due: app

fix style
  bgmi/lib/controllers.py
Due: app

fix: use magnet link so downloader does not need a proxy
  bgmi/website/mikan.py
Due: app

style: remove flake8
  .github/workflows/lint.yaml
  pyproject.toml
Due: none

refactor: use asyncio default event loop
  bgmi/front/server.py
Due: front

ci: use common pre-commit actions
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  pyproject.toml
Due: none

ci
  .github/workflows/build.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

fix: command typo
  bgmi/main.py
Due: app

feat: command `bgmi seed forget`
  bgmi/main.py
Due: app

chore: move ruff to pre-commit hooks
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat: generate completion script
  bgmi/main.py
  pyproject.toml
Due: app

build: upgrade deps
  bgmi/utils/__init__.py
  bgmi/website/mikan.py
  pyproject.toml
Due: app

chore: command help message
  bgmi/main.py
Due: app

refactor: mypy cross platform
  .github/workflows/lint.yaml
  bgmi/utils/__init__.py
  tests/conftest.py
Due: app
