Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

ci: use docker compose v2 (#840)
  .github/workflows/test-downloader.yaml
Due: none

feat. Download 增加 created_time 字段
  bgmi/lib/download.py
  bgmi/lib/models.py
  bgmi/lib/update.py
Due: app

feat. download hook 增加部分参数
  bgmi/lib/controllers.py
  bgmi/script.py
Due: app

improve: fix mypy error
  bgmi/script.py
Due: app

feat. 增加 Download TODO 日历
  bgmi/front/resources.py
Due: front

fix: update hook methods
  bgmi/lib/controllers.py
  bgmi/script.py
Due: app

fix errors of lint & mypy
  bgmi/front/resources.py
  bgmi/script.py
Due: front, app

fix errors of lint & mypy
  bgmi/front/resources.py
Due: front

feat: add `created_time` to download table and add router `/resource/calendar.ics?type=download` (#842)
  bgmi/front/resources.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/models.py
  bgmi/lib/update.py
  bgmi/script.py
Due: front, app

fix: use Event as calendar component
  bgmi/front/resources.py
Due: front

ci: use docker compose v2
  .github/workflows/test.yaml
Due: none

build: use uv
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

fix publish
  .github/workflows/release.yaml
Due: none

fix publish
  .github/workflows/lint.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

fix ci
  .github/workflows/lint.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

fix ci
  pyproject.toml
  uv.lock
Due: none

fix ci
  pyproject.toml
Due: none

fix ci
  uv.lock
Due: none

fix ci
  .github/workflows/test.yaml
Due: none

build: use uv (#887)
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

build: drop py38
  .github/workflows/test.yaml
  pyproject.toml
  uv.lock
Due: none

Delete poetry.lock
  poetry.lock
Due: none

build: use uv
  .github/renovate.json
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

fix test
  pyproject.toml
  uv.lock
Due: none

fix lint
  .pre-commit-config.yaml
Due: none

fix test
  .github/workflows/test-downloader.yaml
Due: none

fix test
  .github/workflows/test.yaml
Due: none

fix test
  .github/workflows/build.yaml
Due: none

build: use uv (#888)
  .github/renovate.json
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

chore: upgrade pre-commit hooks
  .pre-commit-config.yaml
  bgmi/main.py
  tests/downloader/test_common.py
  tests/test_utils.py
Due: app

update renovate.json
  .github/renovate.json
Due: none

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
