Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

fix test
  tests/test_controllers.py
Due: none

fix test
  bgmi/lib/table.py
Due: app

fix test
  bgmi/lib/controllers.py
Due: app

version
  pyproject.toml
Due: none

fix
  bgmi/lib/controllers.py
  bgmi/website/base.py
Due: app

fix
  bgmi/lib/controllers.py
Due: app

bump: v5.0.0-alpha.1
  pyproject.toml
Due: none

remove unreleased changelog
  .github/workflows/un-released.yaml
Due: none

fix print filter
  bgmi/main.py
Due: app

output message
  bgmi/main.py
Due: app

bump: v5.0.0-alpha.2
  pyproject.toml
Due: none

startup message
  bgmi/setup.py
Due: app

impove cover downloading
  bgmi/utils/__init__.py
Due: app

fix type
  bgmi/utils/__init__.py
Due: app

remove unused
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
Due: app

move followed bangumi to first
  bgmi/main.py
Due: app

readme
  README.md
Due: none

refactor: rewrite bgmi_http
  bgmi/config.py
  bgmi/front/admin.py
  bgmi/front/base.py
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/front/routes.py
  bgmi/front/server.py
  bgmi/front/templates/download.xml
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/others/nginx.conf
  poetry.lock
  pyproject.toml
Due: front, app

changelog
  README.md
  tests/test_http_api.py
Due: none

changelog
  README.md
Due: none

tests
  poetry.lock
  pyproject.toml
  tests/test_http_api.py
Due: none

http code no auth
  bgmi/front/routes.py
Due: front

fix some test
  bgmi/front/routes.py
  tests/conftest.py
  tests/test_controllers.py
  tests/test_http_api.py
Due: front

fix missing name
  bgmi/front/routes.py
Due: front

update
  bgmi/front/resources.py
  bgmi/front/routes.py
  bgmi/lib/table.py
  bgmi/website/base.py
  tests/conftest.py
  tests/e2e/test_cli.py
  tests/test_http_api.py
Due: front, app

fix script db
  bgmi/script.py
Due: app

more
  bgmi/lib/controllers.py
Due: app

fix lint
  bgmi/front/resources.py
  bgmi/front/routes.py
  bgmi/front/server.py
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/script.py
  bgmi/website/base.py
  pyproject.toml
Due: front, app

fix type
  bgmi/front/resources.py
  bgmi/script.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  tests/test_controllers.py
Due: front, app

fix script
  bgmi/script.py
  pyproject.toml
Due: app

fix cal
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/website/share_dmhy.py
  tests/e2e/test_cli.py
Due: front, app

fix lint
  bgmi/front/server.py
Due: front

pyproject
  pyproject.toml
Due: none

debug sql
  bgmi/lib/table.py
Due: app

lint
  bgmi/lib/table.py
Due: app

refactor
  bgmi/lib/table.py
Due: app

fix type
  bgmi/lib/table.py
Due: app

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
