Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader, tests

codecov.yml:

coverage:
  precision: 2         # how many decimal places to display in the UI: 0 <= value <= 4
  round: down          # how coverage is rounded: down/up/nearest
  range: 50...80      # custom range of coverage colors from red -> yellow -> green

  status:
    project:                   # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader
      test:
        target: 95%
        flags: tests
      default: off                 # context, you can create multiple ones with custom titles

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - '!bgmi/front/'
      - '!bgmi/downloader/'
  downloader:
    paths:
      - bgmi/downloader/
  tests:
    paths:
      - tests/

feat(downloader): add qbittorrent downloader (#259)
  README.md
  bgmi/config.py
  bgmi/downloader/qbittorrent.py
  bgmi/lib/download.py
  poetry.lock
  pyproject.toml
  tests/downloader/test_qbittorrent.py
Due: app, downloader, tests

v2.2.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: update .editorconfig
  .editorconfig
  setup.cfg
Due: none

tests: update test case
  .gitignore
  tests/conftest.py
Due: tests

docs: update changelog
  .chglog/config.yml
  CHANGELOG.md
Due: none

ci: upload pypi package
  .github/workflows/release.yaml
Due: none

fix: episode parser
  bgmi/utils/__init__.py
  tests/test_utils.py
Due: app, tests

lint
  tests/test_utils.py
Due: tests

mypy
  bgmi/utils/__init__.py
Due: app

fix: episode parser (#265)
  bgmi/utils/__init__.py
  tests/test_utils.py
Due: app, tests

fix: filter function on banugmi.moe
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
  bgmi/website/base.py
Due: app

fix some other bug
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
Due: app

fix: filter function on banugmi.moe (#266)
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
  bgmi/website/base.py
Due: app

v2.2.1
  pyproject.toml
Due: none

docs: update changelog
  CHANGELOG.md
  README.md
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
  bgmi/config.py
  bgmi/front/index.py
  bgmi/lib/cli.py
  bgmi/setup.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
Due: front, app

chore: update pre-commit hooks (#269)
  .pre-commit-config.yaml
  bgmi/config.py
  bgmi/front/index.py
  bgmi/lib/cli.py
  bgmi/setup.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
Due: front, app

ci: update changelog generator
  .github/workflows/release.yaml
Due: none

fix(downloader): remove unexpected debug message
  bgmi/downloader/transmission.py
Due: downloader

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: update pre-commit hooks (#272)
  .pre-commit-config.yaml
Due: none

fix(transmission): make sure torrent will start downloading when adding
  bgmi/downloader/transmission.py
  tests/downloader/test_transmission.py
Due: downloader, tests

chore(deps-dev): update deps-dev
  poetry.lock
  pyproject.toml
Due: none

chore(deps-dev): update deps-dev (#274)
  poetry.lock
  pyproject.toml
Due: none

ci: add twine to check dist files
  .github/workflows/ci.yaml
Due: none

fix
  .github/workflows/ci.yaml
Due: none

ci: add twine to check dist files (#276)
  .github/workflows/ci.yaml
Due: none

docs: update CN readme
  README.cn.md
Due: none

chore: add deepsource
  .deepsource.toml
Due: none

build(deps): update deps-prod
  poetry.lock
  pyproject.toml
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: none

ci: migrate to github actions
  .ci/azure-pipelines.yml
  .ci/jobs/test.yaml
  .ci/templates/job.yaml
  .deepsource.toml
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: update lock file
  bgmi/lib/fetch.py
  poetry.lock
  pyproject.toml
Due: app

refactor: add qbittorrent rpc library to deps-prod
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  poetry.lock
  pyproject.toml
Due: downloader

build(deps): update deps
  poetry.lock
  pyproject.toml
Due: none
