Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader, tests

fetch full episode list of mikan source
  bgmi/website/mikan.py
Due: app

update
  bgmi/website/mikan.py
Due: app

ci: only run pre-commit on ubuntu
  .ci/azure-pipelines.yml
  .ci/jobs/lint/mypy.yaml
  .ci/jobs/lint/style.yaml
  .pre-commit-config.yaml
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
  bgmi/downloader/xunlei.py
  bgmi/setup.py
  bgmi/utils/__init__.py
  tests/test_config.py
  tests/test_controllers.py
Due: app, downloader, tests

chore(deps-dev): update dependency pytest to v6
  poetry.lock
  pyproject.toml
  pytest.ini
Due: none

chore(deps-dev): update deps-dev
  poetry.lock
  pyproject.toml
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: none

build(deps): update deps-prod
  poetry.lock
  pyproject.toml
Due: none

ci: ignore codecov upload failure
  .ci/jobs/test.yaml
Due: none

add test - test_mikan_fetch_all_episode
  tests/test_data_source.py
Due: tests

fix(mikan): fetch full episode list of mikan source (#237)
  bgmi/website/mikan.py
  tests/test_data_source.py
Due: app, tests

2.1.4
  CHANGELOG.md
  pyproject.toml
Due: none

chore: add contributing guide
  .github/contributing.md
Due: none

refactor: drop py3.5 support
  .ci/templates/job.yaml
  .pre-commit-config.yaml
  bgmi/config.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/base.py
  bgmi/downloader/deluge.py
  bgmi/downloader/transmission_rpc.py
  bgmi/downloader/xunlei.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/models.py
  bgmi/lib/update.py
  bgmi/script.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
  tests/test_data_source.py
  tests/test_http_api.py
Due: app, downloader, tests

refactor(mikan): remove debug code
  bgmi/website/mikan.py
Due: app

refactor(downloader): migrate driver to transmission-rpc
  bgmi/downloader/transmission.py
  bgmi/downloader/transmission_rpc.py
  bgmi/lib/download.py
  poetry.lock
  pyproject.toml
Due: app, downloader

tests(downloader): add aria2 rpc tests
  bgmi/downloader/aria2_rpc.py
  tests/downloader/test_aria2.py
Due: downloader, tests

build(deps): pin dependencies
  poetry.lock
  pyproject.toml
Due: none

refactor(script): replace deprecated api load_module
  bgmi/script.py
Due: app

build: remove binary build due to pyinstaller bug
  .ci/azure-pipelines.yml
  .ci/jobs/binary.yaml
  .ci/jobs/pypi.yaml
  .ci/jobs/release.yaml
  README.cn.md
  README.rst
  bgmi.spec
  poetry.lock
  pyproject.toml
Due: none

refactor(internal): migrate attrs to pydantic
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/model.py
  poetry.lock
  pyproject.toml
  tests/test_utils.py
Due: app, tests

ci: migrate lint and mypy to actions
  .ci/azure-pipelines.yml
  .ci/jobs/lint/mypy.yaml
  .ci/jobs/lint/style.yaml
  .github/workflows/lint.yaml
Due: none

tests(downloader): add transmission rpc tests
  bgmi/downloader/transmission.py
  tests/downloader/test_transmission.py
Due: downloader, tests

chore: add flake8
  .github/workflows/lint.yaml
  bgmi/config.py
  bgmi/front/index.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/script.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  setup.cfg
Due: front, app

tests(downloader): add deluge rpc tests
  bgmi/downloader/deluge.py
  tests/downloader/test_deluge.py
Due: downloader, tests

docs: update script example
  README.rst
  script_example.py
  tests/conftest.py
  tests/test_script.py
Due: tests

style: add some flake8 plugins
  .github/workflows/lint.yaml
  README.rst
  bgmi/downloader/deluge.py
  bgmi/downloader/xunlei.py
  bgmi/front/admin.py
  bgmi/front/resources.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/main.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/sql.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/conftest.py
  tests/downloader/test_aria2.py
  tests/downloader/test_transmission.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_controllers.py
  tests/test_downloader.py
  tests/test_http_api.py
Due: front, app, downloader, tests

chore: update readme
  README.rst
Due: none

2.1.4
  pyproject.toml
Due: none

chore: update pre-commit hooks and deps
  .ci/azure-pipelines.yml
  .pre-commit-config.yaml
  bgmi/front/server.py
  poetry.lock
  pyproject.toml
Due: front

style: upgrade to new mypy and flake8 plugin version
  bgmi/front/index.py
  bgmi/lib/controllers.py
  bgmi/script.py
  setup.cfg
Due: front, app

chore: update poetry lock file
  poetry.lock
  pyproject.toml
Due: none

chore: flake8 will ignore .venv dir
  setup.cfg
Due: none

[Update] fix bgmi search for mikan,dmhy
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  tests/test_data_source.py
Due: app, tests

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
  tests: any of: tests/
