Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

Fix lint again
  bgmi/website/mikan.py
Due: app

bump: v4.4.4
  pyproject.toml
Due: none

fix(mikan): new rss format (#528)
  bgmi/website/mikan.py
Due: app

Update renovate.json
  .github/renovate.json
Due: none

chore: renovate auto merge
  .github/renovate.json
Due: none

style: remove flake8
  .github/workflows/lint.yaml
  poetry.lock
  pyproject.toml
Due: none

merge
  bgmi/main.py
  bgmi/setup.py
  bgmi/utils/__init__.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/downloader/__init__.py
  tests/downloader/setup.py
  tests/e2e/test_cli.py
  tests/test_controllers.py
  tests/test_http_api.py
  tests/test_utils.py
Due: app

fix
  poetry.lock
  pyproject.toml
Due: none

ci: use common pre-commit actions
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  poetry.lock
  pyproject.toml
Due: none

refactor: use asyncio default event loop
  bgmi/front/server.py
Due: front

ci
  .github/workflows/build.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

chore: move ruff to pre-commit hooks
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

feat: command `bgmi seed forget`
  bgmi/main.py
Due: app

fix: command typo
  bgmi/main.py
Due: app

feat: generate completion script
  bgmi/main.py
  poetry.lock
  pyproject.toml
Due: app

feat: add shell completion script
  README.md
  bgmi/main.py
  poetry.lock
  pyproject.toml
Due: app

bump: v4.4.5
  pyproject.toml
Due: none

chore: command help message
  bgmi/main.py
Due: app

build: upgrade deps
  bgmi/utils/__init__.py
  bgmi/website/mikan.py
  poetry.lock
  pyproject.toml
Due: app

refactor: mypy cross platform
  .github/workflows/lint.yaml
  bgmi/utils/__init__.py
  poetry.lock
  tests/conftest.py
Due: app

refacator: remove dead code
  bgmi/utils/__init__.py
Due: app

dependencies: anime-episode-parser 0.0.12
  poetry.lock
  pyproject.toml
Due: none

dependencies: anime-episode-parser 0.0.12 (#577)
  poetry.lock
  pyproject.toml
Due: none

bump: v4.4.6
  pyproject.toml
Due: none

fix
  bgmi/config.py
  bgmi/script.py
Due: app

feat: add default trackers to magent url
  bgmi/config.py
  bgmi/lib/download.py
  poetry.lock
  pyproject.toml
Due: app

style: fix mypy
  bgmi/config.py
  bgmi/lib/download.py
Due: app

fix test
  bgmi/lib/download.py
  tests/test_download.py
Due: app

refactor: upgrade pydantic to v2
  bgmi/config.py
  bgmi/main.py
  poetry.lock
  pyproject.toml
Due: app

update
  bgmi/config.py
  bgmi/website/bangumi_moe.py
  bgmi/website/model.py
Due: app

fix
  bgmi/main.py
Due: app

fix
  bgmi/config.py
  bgmi/website/bangumi_moe.py
Due: app

fix url query
  bgmi/lib/download.py
Due: app

fix
  bgmi/config.py
  bgmi/front/routes.py
  bgmi/website/bangumi_moe.py
Due: front, app

fix more
  bgmi/config.py
Due: app

add header
  bgmi/config.py
Due: app

fix pydantic
  bgmi/config.py
  bgmi/website/bangumi_moe.py
Due: app

fix
  bgmi/config.py
Due: app
