Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader, tests

codecov.yml:

coverage:
  precision: 2         # how many decimal places to display in the UI: 0 <= value <= 4
  round: down          # how coverage is rounded: down/up/nearest
  range: 50...80      # custom range of coverage colors from red -> yellow -> green

  status:
    project:                   # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader
      test:
        target: 95%
        flags: tests
      default: off                 # context, you can create multiple ones with custom titles

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - '!bgmi/front/'
      - '!bgmi/downloader/'
  downloader:
    paths:
      - bgmi/downloader/
  tests:
    paths:
      - tests/

chore: add flake8
  .github/workflows/lint.yaml
  bgmi/config.py
  bgmi/front/index.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/script.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  setup.cfg
Due: front, app

chore: add contributing guide
  .github/contributing.md
Due: none

refactor(mikan): remove debug code
  bgmi/website/mikan.py
Due: app

tests(downloader): add transmission rpc tests
  bgmi/downloader/transmission.py
  tests/downloader/test_transmission.py
Due: downloader, tests

docs: update script example
  README.rst
  script_example.py
  tests/conftest.py
  tests/test_script.py
Due: tests

refactor(script): replace deprecated api load_module
  bgmi/script.py
Due: app

ci: update pipeline template version
  .ci/azure-pipelines.yml
Due: none

tests(downloader): add aria2 rpc tests
  bgmi/downloader/aria2_rpc.py
  tests/downloader/test_aria2.py
Due: downloader, tests

chore: update poetry lock file
  poetry.lock
  pyproject.toml
Due: none

tests: update bangumi name in test case
  tests/conftest.py
  tests/test_cli.py
Due: tests

refactor(internal): migrate attrs to pydantic
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/model.py
  poetry.lock
  pyproject.toml
  tests/test_utils.py
Due: app, tests

build(deps): pin dependencies
  poetry.lock
  pyproject.toml
Due: none

2.1.4
  CHANGELOG.md
  pyproject.toml
Due: none

refactor: drop py3.5 support
  .ci/templates/job.yaml
  .pre-commit-config.yaml
  bgmi/config.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/base.py
  bgmi/downloader/deluge.py
  bgmi/downloader/transmission_rpc.py
  bgmi/downloader/xunlei.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/models.py
  bgmi/lib/update.py
  bgmi/script.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
  tests/test_data_source.py
  tests/test_http_api.py
Due: app, downloader, tests

tests(downloader): add deluge rpc tests
  bgmi/downloader/deluge.py
  tests/downloader/test_deluge.py
Due: downloader, tests

build: remove binary build due to pyinstaller bug
  .ci/azure-pipelines.yml
  .ci/jobs/binary.yaml
  .ci/jobs/pypi.yaml
  .ci/jobs/release.yaml
  README.cn.md
  README.rst
  bgmi.spec
  poetry.lock
  pyproject.toml
Due: none

style: upgrade to new mypy and flake8 plugin version
  bgmi/front/index.py
  bgmi/lib/controllers.py
  bgmi/script.py
  setup.cfg
Due: front, app

refactor(downloader): migrate driver to transmission-rpc
  bgmi/downloader/transmission.py
  bgmi/downloader/transmission_rpc.py
  bgmi/lib/download.py
  poetry.lock
  pyproject.toml
Due: app, downloader

style: add some flake8 plugins
  .github/workflows/lint.yaml
  README.rst
  bgmi/downloader/deluge.py
  bgmi/downloader/xunlei.py
  bgmi/front/admin.py
  bgmi/front/resources.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/main.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/sql.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/conftest.py
  tests/downloader/test_aria2.py
  tests/downloader/test_transmission.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_controllers.py
  tests/test_downloader.py
  tests/test_http_api.py
Due: front, app, downloader, tests

chore: update pre-commit hooks and deps
  .ci/azure-pipelines.yml
  .pre-commit-config.yaml
  bgmi/front/server.py
  poetry.lock
  pyproject.toml
Due: front

chore: flake8 will ignore .venv dir
  setup.cfg
Due: none

ci: migrate lint and mypy to actions
  .ci/azure-pipelines.yml
  .ci/jobs/lint/mypy.yaml
  .ci/jobs/lint/style.yaml
  .github/workflows/lint.yaml
Due: none
