Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader, tests

build(deps): update dependency importlib-metadata to v4
  poetry.lock
  pyproject.toml
Due: none

chore(dev): update dependency pytest-rerunfailures to v10
  poetry.lock
  pyproject.toml
Due: none

build(deps): update deps
  bgmi/main.py
  poetry.lock
  pyproject.toml
  setup.cfg
Due: app

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

tests: update bangumi name
  tests/conftest.py
Due: tests

ci: fix codecov on pull-request
  .github/workflows/test.yaml
Due: none

chore(dev): pin dependency types-requests to 2.25.0
  poetry.lock
  pyproject.toml
Due: none

chore: exclude changelog template from analyze
  .deepsource.toml
Due: none

docs: update readme badges
  README.cn.md
  README.md
Due: none

ci: fix ignore deepsource branch
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Due: none

v2.2.2
  CHANGELOG.md
  pyproject.toml
Due: none

remove deprecated download delegate
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/base.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/downloader/xunlei.py
  bgmi/main.py
  bgmi/setup.py
Due: app, downloader

remove config
  README.md
  bgmi/config.py
  bgmi/lib/download.py
  tests/test_cli.py
Due: app, tests

refactor: remove deprecated `xunlei-lixian` (#288)
  README.md
  bgmi/config.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/base.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/downloader/xunlei.py
  bgmi/lib/download.py
  bgmi/main.py
  bgmi/setup.py
  tests/test_cli.py
Due: app, downloader, tests

wip
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
Due: app

add workflow
  .github/matcher/pylint/error.json
  .github/matcher/pylint/warning.json
  .github/workflows/lint.yaml
  bgmi/downloader/base.py
  bgmi/front/admin.py
  bgmi/front/index.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/main.py
  bgmi/script.py
  bgmi/utils/__init__.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  pyproject.toml
Due: front, app, downloader

fix matcher
  .github/workflows/lint.yaml
  pyproject.toml
Due: none

fix matcher
  .github/matcher/pylint/error.json
  .github/matcher/pylint/warning.json
  .github/workflows/lint.yaml
Due: none

fix
  .github/workflows/lint.yaml
  bgmi/lib/cli.py
  bgmi/lib/download.py
  bgmi/lib/models.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  pyproject.toml
Due: app

fix
  .github/matcher/pylint.json
  .github/matcher/pylint/error.json
  .github/matcher/pylint/warning.json
  .github/workflows/lint.yaml
Due: none

fix
  .github/matcher/pylint.json
  bgmi/lib/models.py
Due: app

update
  .github/workflows/lint.yaml
  bgmi/lib/models.py
  bgmi/script.py
Due: app

fix
  .github/workflows/lint.yaml
  bgmi/front/admin.py
  bgmi/front/resources.py
  bgmi/lib/download.py
  bgmi/lib/models.py
  bgmi/script.py
  bgmi/utils/__init__.py
  pyproject.toml
Due: front, app

fix
  bgmi/downloader/base.py
Due: downloader

fix
  .github/workflows/lint.yaml
Due: none

fix
  bgmi/script.py
Due: app

fix
  bgmi/script.py
  bgmi/utils/__init__.py
Due: app

fix
  tests/test_http_api.py
Due: tests

fix test
  bgmi/front/index.py
  bgmi/script.py
  script_example.py
  tests/test_http_api.py
Due: front, app, tests

fix
  bgmi/front/index.py
Due: front

fix type
  bgmi/script.py
Due: app

remove codecov config
  codecov.yml
Due: none

diff
  bgmi/front/resources.py
Due: front

diff
  bgmi/script.py
Due: app

diff
  bgmi/utils/__init__.py
Due: app

diff
  bgmi/website/bangumi_moe.py
Due: app

diff
  bgmi/lib/download.py
  pyproject.toml
Due: app

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
  tests: any of: tests/
