Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

Revert "build(deps): pin dependencies (#420)"
  poetry.lock
  pyproject.toml
Due: none

Revert "build(deps): pin dependencies (#420)" (#427)
  poetry.lock
  pyproject.toml
Due: none

Update renovate.json
  .github/renovate.json
Due: none

chore: update license year
  LICENSE
Due: none

bump: v3.2.1
  pyproject.toml
Due: none

fix(http): undownload bangumi
  bgmi/front/index.py
Due: front

bump: v3.2.2
  pyproject.toml
Due: none

config: generate default config from env
  bgmi/config.py
Due: app

default value
  bgmi/config.py
Due: app

fix: line too long
  bgmi/config.py
Due: app

READEME: doc for environments
  README.cn.md
  README.md
Due: none

add missing inline code block
  README.md
Due: none

feat(config): generate default config from env (#431)
  README.cn.md
  README.md
  bgmi/config.py
Due: app

bump: v3.3.0
  pyproject.toml
Due: none

fix: Remove rpc_path setting
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/downloader/transmission.py
Due: app, downloader

fix!: transmission config
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/downloader/transmission.py
Due: app, downloader

typo
  README.cn.md
Due: none

readme
  README.cn.md
  README.md
Due: none

fix!: transmission config (#434)
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/downloader/transmission.py
Due: app, downloader

feat: new web ui
  bgmi/__init__.py
Due: app

new update method
  bgmi/__init__.py
  bgmi/main.py
  bgmi/utils/__init__.py
  poetry.lock
  pyproject.toml
Due: app

fix lint
  bgmi/utils/__init__.py
Due: app

feat: new web ui (#435)
  README.cn.md
  README.md
  bgmi/__init__.py
  bgmi/main.py
  bgmi/utils/__init__.py
  poetry.lock
  pyproject.toml
Due: app

bump: v4.0.0
  pyproject.toml
Due: none

docs: recommand pipx
  README.cn.md
  README.md
Due: none

refactor: use logger instead of print
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/update.py
  bgmi/main.py
  bgmi/utils/__init__.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
Due: app

feat: add `proxy` config
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/session.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/share_dmhy.py
  poetry.lock
Due: app

bump: v4.1.0
  pyproject.toml
Due: none

refactor: fetch command should still use print
  bgmi/lib/cli.py
  bgmi/main.py
Due: app

bump: v4.1.1
  pyproject.toml
Due: none

docs
  README.md
Due: none

refactor: use click
  bgmi/__main__.py
  bgmi/main.py
  poetry.lock
  pyproject.toml
Due: app

search
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/main.py
Due: app

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
