Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

update
  .pre-commit-config.yaml
  bgmi/front/admin.py
  bgmi/front/base.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/website/bangumi_moe.py
  tests/test_data_source.py
Due: front, app

chore: update pre-commit hooks (#351)
  .pre-commit-config.yaml
  bgmi/front/admin.py
  bgmi/front/base.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/website/bangumi_moe.py
  tests/test_data_source.py
Due: front, app

refactor: remove deprecated stdlib
  bgmi/lib/controllers.py
  poetry.lock
  pyproject.toml
Due: app

isort
  bgmi/lib/controllers.py
Due: app

update lock
  poetry.lock
  pyproject.toml
Due: none

refactor: remove deprecated stdlib (#352)
  bgmi/lib/controllers.py
  poetry.lock
  pyproject.toml
Due: app

ci: ignore renovatebot push event
  .github/workflows/lint.yaml
Due: none

bump: 2.2.16
  pyproject.toml
Due: none

ci: fix installing git-chglog
  .github/workflows/release.yaml
Due: none

bump: 2.2.17
  pyproject.toml
Due: none

chore: enable auto merge for non-major deps
  .github/renovate.json
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

add TRANSMISSION_RPC_PATH site
  bgmi/config.py
  bgmi/downloader/transmission.py
Due: app, downloader

add TRANSMISSION_RPC_PATH site
  README.md
Due: none

add TRANSMISSION_RPC_PATH site
  README.cn.md
  README.md
Due: none

feat: add `TRANSMISSION_RPC_PATH` option (#379)
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/downloader/transmission.py
Due: app, downloader

ci: fix changelog
  .github/workflows/release.yaml
  .github/workflows/un-released.yaml
Due: none

bump: 2.2.18
  pyproject.toml
Due: none

ci: fix release
  .github/workflows/release.yaml
Due: none

Add precise search_by_tag for bangumi
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
Due: app

Show matched tag when search_by_tag
  bgmi/website/bangumi_moe.py
Due: app

Support mikan search by tag
  bgmi/lib/constants.py
  bgmi/website/mikan.py
Due: app

Add strsimpy and lxml to deps
  poetry.lock
  pyproject.toml
Due: none

Use subtitle returned by website instead of keyword
  bgmi/website/bangumi_moe.py
Due: app

Fix type of type
  bgmi/lib/controllers.py
Due: app

Fix some lint error
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
Due: app

Fix more lint error Fix typo
  bgmi/lib/constants.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
Due: app

Use xml to parse rss Drop lxml dep
  bgmi/website/mikan.py
  poetry.lock
  pyproject.toml
Due: app

Fix lint
  bgmi/website/mikan.py
Due: app

Fix some lint Retriger test for dmhy
  bgmi/website/mikan.py
Due: app

Not reuse variable
  bgmi/website/mikan.py
Due: app

No reuse variable
  bgmi/website/mikan.py
Due: app

Add unittest for search tag
  tests/conftest.py
  tests/test_cli.py
  tests/test_data_source.py
Due: none

Change test fixture
  tests/conftest.py
  tests/test_cli.py
  tests/test_data_source.py
Due: none

Use strptime instead of fromisoformat when parsing rss pubDate
  bgmi/website/mikan.py
Due: app

Ignore milliseconds in pubDate
  bgmi/website/mikan.py
Due: app

Use Tuple from Typing
  bgmi/website/bangumi_moe.py
Due: app

Print error when trying to search by tag in dmhy
  bgmi/website/base.py
  bgmi/website/share_dmhy.py
Due: app

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
