Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

tests
  tests/test_controllers.py
Due: none

fix: pep440 version
  bgmi/lib/update.py
  pyproject.toml
Due: app

refactor: unify column name
  bgmi/lib/download.py
  bgmi/lib/table.py
Due: app

refactor: unify column name
  bgmi/lib/download.py
Due: app

tests
  tests/test_utils.py
Due: none

use sqlite json column type
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/website/base.py
  tests/test_controllers.py
Due: app

fix old file
  bgmi/lib/table.py
  bgmi/setup.py
Due: app

refactor: download
  bgmi/lib/download.py
Due: app

refactor: download episodes
  bgmi/front/admin.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/main.py
  bgmi/script.py
Due: front, app

tests: split e2e test
  .github/workflows/test.yaml
  bgmi/lib/controllers.py
  tests/e2e/__init__.py
  tests/e2e/test_cli.py
  tests/e2e/test_data_source.py
  tests/test_controllers.py
  tests/test_download.py
Due: app

refactor: download episodes
  bgmi/lib/controllers.py
  tests/test_download.py
Due: app

refactor
  bgmi/lib/controllers.py
  bgmi/main.py
  bgmi/website/base.py
  tests/test_download.py
Due: app

merge object
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/lib/update.py
  bgmi/main.py
  bgmi/website/base.py
Due: app

move followed bangumi to first
  bgmi/main.py
Due: app

output message
  bgmi/main.py
Due: app

fix test
  bgmi/lib/table.py
Due: app

fix test
  bgmi/website/bangumi_moe.py
  tests/test_download.py
Due: app

fix type
  bgmi/utils/__init__.py
Due: app

fix test
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/script.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  tests/e2e/test_data_source.py
Due: app

impove cover downloading
  bgmi/utils/__init__.py
Due: app

version
  pyproject.toml
Due: none

startup message
  bgmi/setup.py
Due: app

readme
  README.md
Due: none

bump: v5.0.0-alpha.2
  pyproject.toml
Due: none

fix print filter
  bgmi/main.py
Due: app

fix
  bgmi/lib/controllers.py
  bgmi/website/base.py
Due: app

fix test
  bgmi/lib/controllers.py
Due: app

bump: v5.0.0-alpha.1
  pyproject.toml
Due: none

remove unused
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
Due: app

fix test
  tests/test_controllers.py
Due: none

fix test
  .github/workflows/test.yaml
Due: none

fix
  bgmi/lib/controllers.py
Due: app

fix test
  tests/e2e/test_cli.py
Due: none

fix test
  tests/test_controllers.py
  tests/test_models.py
Due: none

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
