Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

update renovate.json
  .github/renovate.json
Due: none

Delete .github/renovate.json
  .github/renovate.json
Due: none

build: remove peewee
  pyproject.toml
  uv.lock
Due: none

build: remove tornado
  pyproject.toml
  uv.lock
Due: none

fix
  bgmi/config.py
Due: app

style: fix mypy
  bgmi/config.py
Due: app

build: drop old python
  .github/workflows/test.yaml
  bgmi/config.py
  pyproject.toml
  uv.lock
Due: app

refactor: minor type fix
  bgmi/__init__.py
Due: app

refactor: minor type fix
  bgmi/config.py
  bgmi/downloader/noop.py
Due: app, downloader

Update renovate.json
  .github/renovate.json
Due: none

fix: bs find_all with attr's zero-value
  bgmi/website/share_dmhy.py
Due: app

fix(website/share_dmhy): mypy lint
  bgmi/website/share_dmhy.py
Due: app

fix(website/mikan): mypy lint
  bgmi/website/mikan.py
Due: app

diff
  pyproject.toml
Due: none

build(deps): update dependency beautifulsoup4 to v4.13.3 (#968)
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  pyproject.toml
  uv.lock
Due: app

Update test.yaml
  .github/workflows/test.yaml
Due: none

ci: upgrade setup-uv to v6
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

ci: upgrade setup-uv to v6 (#1000)
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

Update build.yaml
  .github/workflows/build.yaml
Due: none

Update lint.yaml
  .github/workflows/lint.yaml
Due: none

Update release.yaml
  .github/workflows/release.yaml
Due: none

fix: increase timeout for share.dmhy
  bgmi/website/share_dmhy.py
Due: app

tests: fix
  tests/e2e/test_cli.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix(mikan): new episode container format
  bgmi/website/mikan.py
Due: app

Fix lint
  bgmi/website/mikan.py
Due: app

fix(mikan): new episode container format (#1037)
  bgmi/website/mikan.py
Due: app

release: 4.5.1
  pyproject.toml
  taskfile.yaml
Due: none

chore: fix lock file
  taskfile.yaml
  uv.lock
Due: none

chore: ignore requires-python in pyproject.toml from renovatebot
  .github/renovate.json
Due: none

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
