Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

changelog
  README.md
Due: none

refactor: rewrite bgmi_http
  bgmi/config.py
  bgmi/front/admin.py
  bgmi/front/base.py
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/front/routes.py
  bgmi/front/server.py
  bgmi/front/templates/download.xml
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/others/nginx.conf
  pyproject.toml
Due: front, app

changelog
  README.md
  tests/test_http_api.py
Due: none

fix script db
  bgmi/script.py
Due: app

update deps
  pyproject.toml
Due: none

tests
  pyproject.toml
  tests/test_http_api.py
Due: none

fix calendar cover
  bgmi/front/routes.py
Due: front

fix test
  .github/workflows/test.yaml
Due: none

test
  bgmi/main.py
  tests/e2e/test_cli.py
  tests/test_controllers.py
Due: app

fix list command
  bgmi/lib/controllers.py
  bgmi/main.py
Due: app

fix
  bgmi/main.py
  bgmi/script.py
Due: app

fix lint
  bgmi/setup.py
Due: app

fix crontab
  bgmi/lib/update.py
  bgmi/main.py
  bgmi/others/crontab.sh
  bgmi/setup.py
Due: app

fix mypy
  bgmi/setup.py
Due: app

fix lint
  bgmi/front/server.py
Due: front

add noop downloader
  .github/workflows/test.yaml
  bgmi/downloader/__init__.py
  bgmi/downloader/noop.py
  bgmi/plugin/download.py
  pyproject.toml
Due: app, downloader

fix missing name
  bgmi/front/routes.py
Due: front

update
  bgmi/front/resources.py
  bgmi/front/routes.py
  bgmi/lib/table.py
  bgmi/website/base.py
  tests/conftest.py
  tests/e2e/test_cli.py
  tests/test_http_api.py
Due: front, app

fix cal
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/website/share_dmhy.py
  tests/e2e/test_cli.py
Due: front, app

fix some test
  bgmi/front/routes.py
  tests/conftest.py
  tests/test_controllers.py
  tests/test_http_api.py
Due: front

cron
  bgmi/setup.py
Due: app

refactor
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/website/base.py
Due: front, app

mark command
  README.md
  bgmi/main.py
  tests/e2e/test_cli.py
Due: app

fix lint
  bgmi/front/resources.py
  bgmi/front/routes.py
  bgmi/front/server.py
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/script.py
  bgmi/website/base.py
  pyproject.toml
Due: front, app

update
  README.md
  bgmi/main.py
Due: app

fix script
  bgmi/script.py
  pyproject.toml
Due: app

fix lint
  bgmi/front/routes.py
Due: front

refactor
  bgmi/lib/table.py
Due: app

fix test
  bgmi/front/routes.py
  tests/test_http_api.py
Due: front

fix: should not download episodes twice
  bgmi/lib/controllers.py
Due: app

debug sql
  bgmi/lib/table.py
Due: app

lint
  bgmi/lib/table.py
Due: app

pyproject
  pyproject.toml
Due: none

fix type
  bgmi/front/resources.py
  bgmi/script.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  tests/test_controllers.py
Due: front, app

fix
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/website/bangumi_moe.py
  bgmi/website/mikan.py
  bgmi/website/model.py
Due: app

http code no auth
  bgmi/front/routes.py
Due: front

refactor: calendar do not need auth anymore
  bgmi/front/routes.py
  tests/test_http_api.py
Due: front

refactor
  bgmi/lib/controllers.py
  bgmi/main.py
Due: app

fix cover url
  bgmi/front/routes.py
Due: front

fix type
  bgmi/lib/table.py
Due: app
