Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

docs: add MCP SSE section and TODO to README
  README.md
Due: none

fix: remove unused imports in mcp_server.py, trailing whitespace in AGENTS.user-script.md
  AGENTS.user-script.md
  bgmi/front/mcp_server.py
Due: front

fix(ci): pin astral-sh/setup-uv to v7.5.0 and inline prek steps
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

docs: add AGENTS.md and AGENTS.user-script.md for AI-assisted development
  AGENTS.md
  AGENTS.user-script.md
Due: none

feat: add MCP SSE server with BGmi tools on bgmi_http
  README.md
  bgmi/front/mcp_server.py
  bgmi/front/server.py
  pyproject.toml
  uv.lock
Due: front

fix: remove unused imports in mcp_server.py
  bgmi/front/mcp_server.py
Due: front

feat: add download path formatter for Jellyfin-style directory layout
  bgmi/config.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/deluge.py
  bgmi/downloader/noop.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/postprocessor.py
  bgmi/lib/season.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/plugin/download.py
  tests/conftest.py
  tests/test_postprocessor.py
Due: app, downloader

fix: add .tmmignore and .ignore to .downloads/ directory
  bgmi/lib/download.py
Due: app

fix: add schema migration for season and task_id columns
  bgmi/lib/update.py
Due: app

fix(mcp): filter _sa_instance_state from cal() response
  bgmi/front/mcp_server.py
Due: front

fix(table): exclude SQLAlchemy internal state from get_updating_bangumi
  bgmi/lib/table.py
Due: app

feat(mcp): add season parameter to set_filter tool
  bgmi/front/mcp_server.py
Due: front

feat(api): add season field to filter endpoints
  bgmi/front/routes.py
Due: front

refactor: move season management from filter to add command
  README.md
  bgmi/front/mcp_server.py
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/main.py
Due: front, app

refactor(cli): unify command style; polish README
  README.md
  bgmi/main.py
Due: app

docs(readme): expand v5 changelog with design philosophy and features
  README.md
Due: none

refactor(mcp): rename list_subscriptions→list, replace mark with seen_forget
  README.md
  bgmi/front/mcp_server.py
Due: front

feat(api): add POST /admin/seen_forget endpoint
  bgmi/front/routes.py
Due: front

fix(ci): resolve pre-commit and unit test failures
  bgmi/front/mcp_server.py
  bgmi/main.py
  tests/test_postprocessor.py
Due: front, app

test: add MCP and HTTP API seen_forget tests
  tests/test_http_api.py
  tests/test_mcp.py
Due: none

fix(test): use dynamic bangumi names in e2e tests
  bgmi/main.py
  tests/conftest.py
  tests/e2e/test_cli.py
Due: app

fix: remove unused Session import in test_mcp.py
  tests/test_mcp.py
Due: none

style: wrap long click option decorator for line length
  bgmi/main.py
Due: app

style: wrap long Field declaration for line length
  bgmi/config.py
Due: app

feat: integrate post-processor with downloader remove_download
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/lib/postprocessor.py
  bgmi/plugin/download.py
  tests/test_postprocessor.py
Due: app, downloader

style: fix line formatting in test_postprocessor
  tests/test_postprocessor.py
Due: none

feat: add update and download_status MCP tools
  bgmi/front/mcp_server.py
Due: front

feat: add postprocess MCP tool and fix default path formatter
  bgmi/config.py
  bgmi/front/mcp_server.py
Due: front, app

style: wrap long return statement for line length
  bgmi/front/mcp_server.py
Due: front

feat: add v4 to v5 database migration
  bgmi/lib/update.py
Due: app

style: apply pre-commit formatting fixes
  bgmi/front/mcp_server.py
  bgmi/lib/update.py
Due: front, app

fix: handle comma-separated and empty values in v4 migration
  bgmi/lib/update.py
Due: app

fix: handle bangumi ID changes in save_bangumi
  bgmi/website/base.py
Due: app

fix: handle missing elements in mikan bangumi details page
  bgmi/website/mikan.py
Due: app

fix: auto-refresh bangumi IDs from data source after v4 migration
  bgmi/lib/update.py
Due: app

fix: detect v4 schema and stale numeric IDs regardless of version file
  bgmi/lib/update.py
Due: app

fix: display "全部" instead of "<None>" for unfiltered subtitle groups
  bgmi/main.py
Due: app

fix: skip episodes with number <= 0 during download
  bgmi/lib/controllers.py
Due: app

fix: don't overwrite subtitle_group with empty data from calendar
  bgmi/website/base.py
Due: app

fix: show empty string instead of "全部" when no subtitle groups
  bgmi/main.py
Due: app
