Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

refacator: remove dead code
  bgmi/utils/__init__.py
Due: app

fix test
  bgmi/lib/download.py
  tests/test_download.py
Due: app

style: fix mypy
  bgmi/config.py
  bgmi/lib/download.py
Due: app

feat: add default trackers to magent url
  bgmi/config.py
  bgmi/lib/download.py
  pyproject.toml
Due: app

ci: stable test name
  .github/workflows/test.yaml
Due: none

Revert "fix: filter more character in bangumi name"
  bgmi/utils/__init__.py
Due: app

fix: magnet without default trackers
  bgmi/lib/download.py
Due: app

refactor: upgrade pydantic to v2 (#623)
  bgmi/config.py
  bgmi/front/routes.py
  bgmi/front/server.py
  bgmi/main.py
  bgmi/website/bangumi_moe.py
  bgmi/website/model.py
  bgmi/website/share_dmhy.py
  pyproject.toml
  tests/test_http_api.py
Due: front, app

Revert "ci: stable test name"
  .github/workflows/test.yaml
Due: none

fix: normalize_path
  bgmi/utils/__init__.py
  bgmi/utils/utils_test.py
Due: app

fix: filter more character in bangumi name
  bgmi/utils/__init__.py
Due: app

ci: add test-all-pass job for all tests
  .github/workflows/test.yaml
Due: none

ci: merge queue
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
Due: none

chore: fix mypy
  bgmi/utils/utils_test.py
Due: app

ci: add py312 to test matrix (#719)
  .github/workflows/test.yaml
  pyproject.toml
Due: none

update readme
  README.md
  bgmi/main.py
Due: app

fix: magnet download name
  bgmi/website/mikan.py
Due: app

ci: use docker compose v2
  .github/workflows/test.yaml
Due: none

ci: upgrade actions
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

ci: upgrade actions (#831)
  .github/workflows/test.yaml
Due: none

Update test.yaml
  .github/workflows/test.yaml
Due: none

build: remove peewee
  pyproject.toml
  uv.lock
Due: none

refactor: minor type fix
  bgmi/config.py
  bgmi/downloader/noop.py
Due: app, downloader

chore: upgrade pre-commit hooks
  .pre-commit-config.yaml
  bgmi/main.py
  tests/test_utils.py
Due: app

build: drop old python
  .github/workflows/test.yaml
  bgmi/config.py
  pyproject.toml
  uv.lock
Due: app

build: use uv (#888)
  .github/renovate.json
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

refactor: minor type fix
  bgmi/__init__.py
Due: app

build(deps): update dependency beautifulsoup4 to v4.13.3 (#968)
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  pyproject.toml
  uv.lock
Due: app

style: fix mypy
  bgmi/config.py
Due: app

build: remove tornado
  pyproject.toml
  uv.lock
Due: none

Delete .github/renovate.json
  .github/renovate.json
Due: none

tests: fix
  tests/e2e/test_cli.py
Due: none

fix(mikan): new episode container format (#1037) (#1039)
  bgmi/website/mikan.py
Due: app

chore: keep v5 conflict resolutions
  .github/workflows/test.yaml
  README.md
  bgmi/config.py
  bgmi/front/resources.py
  bgmi/lib/download.py
  bgmi/lib/update.py
  bgmi/script.py
  bgmi/website/bangumi_moe.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  pyproject.toml
  uv.lock
Due: front, app

fix: start new subscriptions from episode one
  README.md
  bgmi/front/mcp_server.py
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/lib/postprocessor.py
  bgmi/lib/season.py
  bgmi/main.py
  tests/test_controllers.py
  tests/test_postprocessor.py
Due: front, app

feat: install frontend from GitHub releases
  bgmi/utils/__init__.py
  tests/test_utils.py
Due: app

fix: make v5 migrations source-id aware
  README.md
  bgmi/front/routes.py
  bgmi/lib/update.py
  bgmi/main.py
  bgmi/others/cron.vbs
  bgmi/setup.py
  pyproject.toml
  tests/test_migration.py
  uv.lock
Due: front, app

feat: support streamable HTTP MCP
  README.md
  bgmi/front/mcp_server.py
  bgmi/front/server.py
  tests/test_mcp.py
Due: front

fix: refresh followed status lifecycle
  bgmi/front/mcp_server.py
  bgmi/lib/table.py
  bgmi/script.py
  tests/test_calendar_ics.py
  tests/test_controllers.py
  tests/test_mcp.py
Due: front, app

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
