Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader, tests

codecov.yml:

coverage:
  precision: 2         # how many decimal places to display in the UI: 0 <= value <= 4
  round: down          # how coverage is rounded: down/up/nearest
  range: 50...80      # custom range of coverage colors from red -> yellow -> green

  status:
    project:                   # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader
      test:
        target: 95%
        flags: tests
      default: off                 # context, you can create multiple ones with custom titles

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - '!bgmi/front/'
      - '!bgmi/downloader/'
  downloader:
    paths:
      - bgmi/downloader/
  tests:
    paths:
      - tests/

test
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

update
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

update
  codecov.yml
Due: none

add triggr
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

update codecov
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
  codecov.yml
Due: none

ci: add codecov config back (#296)
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
  codecov.yml
Due: none

ci: generate un-released changelog to a issue
  .chglog/unreleased.tpl.md
  .deepsource.toml
  .github/workflows/un-released.yaml
Due: none

chore: fix deepsource ignore
  .deepsource.toml
Due: none

chore: update changelog template
  .chglog/unreleased.tpl.md
Due: none

docs: update readme
  README.md
Due: none

add some cn translation to readme
  README.cn.md
Due: none

update database locate in cn readme
  README.cn.md
Due: none

fix: confusing when episode have multiple video files
  bgmi/front/index.py
Due: front

style: disable cell-var-from-loop
  pyproject.toml
Due: none

format
  bgmi/front/index.py
Due: front

fix: confusing when episode have multiple video files (#300)
  bgmi/front/index.py
Due: front

ci: don't refer merged PR
  .github/workflows/un-released.yaml
Due: none

chore: update deps
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

chore: update deps
  poetry.lock
  pyproject.toml
Due: none

build: upgrade py3.6 to py3.7
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  bgmi/lib/cli.py
  bgmi/lib/update.py
  bgmi/utils/__init__.py
Due: app

style: add encoding to all open
  bgmi/front/base.py
  bgmi/lib/cli.py
  bgmi/setup.py
  bgmi/utils/__init__.py
  bgmi/website/base.py
  bgmi/website/mikan.py
Due: front, app

docs: update readme
  README.cn.md
  README.md
Due: none

bump: 2.2.3
  pyproject.toml
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

chore: remove deepsource
  .deepsource.toml
Due: none

fix(bangumi_moe): user lang not available for bangumi
  bgmi/website/bangumi_moe.py
Due: app

re order
  bgmi/website/bangumi_moe.py
Due: app

fix test
  tests/conftest.py
Due: tests

fix(bangumi_moe): user lang not available for bangumi (#304)
  bgmi/website/bangumi_moe.py
  tests/conftest.py
Due: app, tests

ci: test on py3.10
  .github/workflows/test.yaml
Due: none

chore: update pre-commit-hooks config
  .pre-commit-config.yaml
Due: none

bump: 2.2.4
  pyproject.toml
Due: none

refactor: check pypi ssl cert
  bgmi/utils/__init__.py
Due: app

bump: 2.2.5
  pyproject.toml
Due: none

Fix not found error for `bgmi install` command
  bgmi/utils/__init__.py
Due: app

fix: taobao non registery (#308)
  bgmi/utils/__init__.py
Due: app

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps-dev): update deps-dev
  poetry.lock
  pyproject.toml
Due: none
