Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

build(deps): update deps-prod
  poetry.lock
  pyproject.toml
Due: none

build(deps): update dependency qbittorrent-api to v2022
  poetry.lock
  pyproject.toml
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: none

bump: 2.2.6
  pyproject.toml
Due: none

style: fix EOL
  pyproject.toml
Due: none

chore(deps-dev): update dependency types-requests to v2.27.9
  poetry.lock
  pyproject.toml
Due: none

chore: update deps
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update codecov/codecov-action action to v2
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

fix(aria2): url encode token
  bgmi/downloader/aria2_rpc.py
Due: downloader

ci: fix coverage report
  .github/workflows/test.yaml
Due: none

fix: always use npmjs as npm register
  bgmi/utils/__init__.py
Due: app

fix(aria2): url encode token password only
  .github/workflows/test-downloader.yaml
  bgmi/downloader/aria2_rpc.py
  setup.cfg
  tests/downloader/test_aria2.py
Due: downloader

bump: 2.2.7
  pyproject.toml
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
  bgmi/front/server.py
Due: front

chore(deps): update actions/checkout action to v3
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
  .github/workflows/un-released.yaml
Due: none

chore(deps): update actions/setup-go action to v3
  .github/workflows/release.yaml
Due: none

chore(deps-dev): update deps-dev
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update actions/setup-python action to v3
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps): update actions/cache action to v3
  .github/workflows/lint.yaml
Due: none

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): update deps
  poetry.lock
  pyproject.toml
Due: none

ci: upgrade linter python to 3.10
  .github/workflows/lint.yaml
Due: none

bump:
  pyproject.toml
Due: none

bump: 2.2.9
  pyproject.toml
Due: none

fix: source share.dmhy calendar parse
  bgmi/website/share_dmhy.py
Due: app

fix: source share.dmhy calendar parse (#313)
  bgmi/website/share_dmhy.py
Due: app

bump: 2.2.10
  pyproject.toml
Due: none

add downloader pikpak
  bgmi/config.py
  bgmi/downloader/__init__.py
  bgmi/downloader/pikpak.py
  pyproject.toml
Due: app, downloader

fix typo
  bgmi/downloader/__init__.py
  bgmi/downloader/pikpak.py
Due: downloader

docs: global filter
  README.cn.md
  README.md
Due: none

build: upgrade to python 3.7.2
  poetry.lock
  pyproject.toml
Due: none

build: upgrade deps
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update actions/setup-python action to v4
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

fix
  poetry.lock
  pyproject.toml
Due: none

upgrade python to 3.8
  .github/workflows/test.yaml
  poetry.lock
  pyproject.toml
Due: none

style
  bgmi/lib/controllers.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/model.py
Due: app
