Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

fix: simplify MCP agent surface
  bgmi/front/mcp_server.py
  bgmi/lib/controllers.py
  tests/test_mcp.py
Due: front, app

docs: clarify MCP calendar scope
  bgmi/front/mcp_server.py
Due: front

docs: update v5 release notes
  README.md
Due: none

docs: clarify v5 download layout
  README.md
Due: none

fix: resolve formatted player paths
  bgmi/front/index.py
  bgmi/front/routes.py
  tests/test_http_api.py
Due: front

fix: refresh cron during install
  bgmi/main.py
  tests/e2e/test_cli.py
Due: app

fix: avoid stale episode records
  bgmi/front/index.py
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/utils/__init__.py
  tests/test_controllers.py
  tests/test_http_api.py
  tests/test_utils.py
Due: front, app

fix: parse season episode filenames
  bgmi/utils/__init__.py
  tests/test_utils.py
Due: app

fix: lazy load player data
  bgmi/front/routes.py
  tests/test_http_api.py
Due: front

fix: support episode offset in web add
  bgmi/front/routes.py
  tests/test_http_api.py
Due: front

feat: support batch seen updates
  bgmi/front/mcp_server.py
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  tests/test_http_api.py
  tests/test_mcp.py
Due: front, app

test: cover season episode variants
  tests/test_utils.py
Due: none

chore: release 5.0.0a5
  README.md
  pyproject.toml
  uv.lock
Due: none

fix: use upstream season episode parser
  bgmi/utils/__init__.py
  pyproject.toml
  tests/test_controllers.py
  tests/test_http_api.py
  tests/test_utils.py
  uv.lock
Due: app

fix(config): exclude None values in Config.save() to prevent ConvertError under Pydantic 2
  bgmi/config.py
  tests/test_config.py
Due: app

style: fix trailing newline for pre-commit hook
  tests/test_config.py
Due: none

fix(webui): enable serve_static_files by default and add missing frontend notice (#1085)
  bgmi/config.py
  bgmi/front/server.py
  tests/test_http_api.py
Due: front, app

fix(config): ensure type safety in serve_static_files env evaluation for mypy
  bgmi/config.py
Due: app

fix(controllers): reset Download status to STATUS_NOT_DOWNLOAD in seen_forget_batch (fixes #125, #810)
  bgmi/lib/controllers.py
  tests/test_controllers.py
Due: app

fix: read nested config values by path
  bgmi/main.py
  tests/test_config.py
Due: app

fix: preserve episodes when re-adding updated subscriptions
  bgmi/lib/controllers.py
  tests/test_controllers.py
Due: app

fix: parse compound Chinese season numerals
  bgmi/lib/season.py
  tests/test_postprocessor.py
Due: app

fix: compare release versions numerically
  bgmi/utils/__init__.py
  tests/test_utils.py
Due: app

Handle successful exits in config get tests
  tests/test_config.py
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1115)
  README.md
Due: none

fix: support display name editing over HTTP and release 5.0.1
  bgmi/front/mcp_server.py
  bgmi/front/routes.py
  pyproject.toml
  tests/test_http_api.py
  uv.lock
Due: front

fix: constrain MCP to compatible v1 API and release 5.0.2
  pyproject.toml
  uv.lock
Due: none

fix: allow subscribing to Mikan grey calendar entries
  bgmi/website/mikan.py
  tests/test_mikan.py
Due: app

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
