Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

fix: treat stopped torrents with 100% progress as done in Transmission
  bgmi/downloader/transmission.py
Due: downloader

fix: treat paused torrents with 100% progress as done in Deluge
  bgmi/downloader/deluge.py
Due: downloader

fix: remove duplicate move log, keep only Moving line
  bgmi/lib/postprocessor.py
Due: app

fix: back-fill season numbers during v4 migration
  bgmi/lib/update.py
Due: app

feat: add episode_offset and display_name for TMDB-compatible paths
  bgmi/front/mcp_server.py
  bgmi/lib/controllers.py
  bgmi/lib/postprocessor.py
  bgmi/lib/table.py
  bgmi/lib/update.py
  bgmi/main.py
Due: front, app

fix: reset Download status on seen_forget and re-download
  bgmi/front/mcp_server.py
  bgmi/lib/download.py
Due: front, app

fix: use SQLAlchemy update API in seen_forget for mypy compatibility
  bgmi/front/mcp_server.py
Due: front

fix: add episode_offset and display_name to postprocessor test mocks
  tests/test_postprocessor.py
Due: none

fix: e2e search tests use per-source calendar for bangumi names
  tests/conftest.py
  tests/e2e/test_data_source.py
Due: none

feat: implement search_by_tag for dmhy data source
  bgmi/website/share_dmhy.py
  tests/e2e/test_data_source.py
Due: app

fix: update downloader test torrent to Ubuntu 24.04.3
  bgmi/website/share_dmhy.py
  tests/downloader/conftest.py
Due: app

fix: search_by_tag type filtering for bangumi_moe and dmhy
  bgmi/website/bangumi_moe.py
  tests/conftest.py
  tests/e2e/test_data_source.py
Due: app

fix: Deluge add_download supports magnet links, get_status handles missing torrent
  bgmi/downloader/deluge.py
Due: downloader

fix: bangumi_moe search_by_keyword falls back to tag search
  bgmi/website/bangumi_moe.py
Due: app

fix: bangumi_moe search_by_keyword tag fallback and CLI test quoting
  tests/e2e/test_cli.py
Due: none

chore: change cover directory from "cover" to ".cover"
  bgmi/front/routes.py
  bgmi/utils/__init__.py
Due: front, app

feat: rename cover directory to .cover during v4->v5 migration
  bgmi/lib/update.py
Due: app

fix: calendar.ics generation and scripts table migration
  bgmi/front/resources.py
  bgmi/lib/update.py
Due: front, app

chore: add .omo/ and .mcp.json to .gitignore
  .gitignore
Due: none

test: add tests for calendar.ics handler and database migration
  tests/test_calendar_ics.py
  tests/test_migration.py
Due: none

Ensure test script directory exists
  tests/conftest.py
Due: none

Fix episode parsing for star-separated titles
  bgmi/utils/__init__.py
  tests/test_utils.py
Due: app

fix: skip empty cover downloads
  bgmi/lib/controllers.py
  bgmi/utils/__init__.py
  tests/test_controllers.py
Due: app

feat: add seen mark support
  README.md
  bgmi/front/mcp_server.py
  bgmi/front/routes.py
  bgmi/lib/controllers.py
  bgmi/main.py
  tests/conftest.py
  tests/e2e/test_cli.py
  tests/test_controllers.py
  tests/test_http_api.py
  tests/test_mcp.py
Due: front, app

fix: create followed rows with episodes set
  bgmi/front/routes.py
  tests/test_http_api.py
Due: front

fix: refresh missing followed covers
  bgmi/lib/controllers.py
  tests/test_controllers.py
Due: app

fix: write logs under log directory
  README.md
  bgmi/config.py
  bgmi/setup.py
  tests/test_config.py
Due: app

fix: handle empty seen episodes in cli
  bgmi/main.py
  tests/e2e/test_cli.py
Due: app

fix: make cover refresh observable
  bgmi/lib/controllers.py
  bgmi/utils/__init__.py
  bgmi/website/mikan.py
  tests/test_mikan.py
Due: app

fix: parse mikan poster cover
  bgmi/lib/controllers.py
  bgmi/website/mikan.py
  tests/test_controllers.py
  tests/test_mikan.py
Due: app

bump: v4.4.0-alpha.0
  pyproject.toml
Due: none

refactor: replace peewee with Sqlalchemy (#453)
  .github/workflows/test.yaml
  README.md
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/models.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/website/base.py
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_controllers.py
  tests/test_download.py
  tests/test_http_api.py
  tests/test_models.py
Due: front, app

style: lint
  bgmi/lib/table.py
Due: app

perf: avoid db unnecessary query
  bgmi/lib/controllers.py
Due: app

fix: python3.9 syntax
  bgmi/lib/table.py
Due: app

bump: v4.4.0-alpha.1
  pyproject.toml
Due: none

bump: v4.4.0-alpha.3
  pyproject.toml
Due: none

bump: v4.4.0-alpha.2
  pyproject.toml
Due: none

fix: cmd `cal` should show episodes
  bgmi/lib/table.py
  bgmi/lib/update.py
Due: app
