Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

codecov.yml:

coverage:
  precision: 2 # how many decimal places to display in the UI: 0 <= value <= 4
  round: down # how coverage is rounded: down/up/nearest
  range: 50...80 # custom range of coverage colors from red -> yellow -> green

  status:
    project: # measuring the overall project coverage
      front:
        flags: front
      app:
        flags: app
      downloader:
        flags: downloader

flags:
  # filter the folder(s) you wish to measure by that flag
  front:
    paths:
      - bgmi/front/
  app:
    paths:
      - bgmi/
      - "!bgmi/front/"
      - "!bgmi/downloader/"
  downloader:
    paths:
      - bgmi/downloader/
    carryforward: true

ff
  tests/downloader/docker-compose.yaml
Due: none

tests: fix auto generated qbittorrent password (#763)
  tests/downloader/docker-compose.yaml
Due: none

tests: fix auto generated qbittorrent password
  tests/downloader/docker-compose.yaml
Due: none

add bgmi update by weekday
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
Due: app

fix conftest bangumi fixture
  tests/conftest.py
Due: none

add weekday update testcase
  bgmi/script.py
  tests/test_download.py
Due: app

apply lint changes
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/script.py
  tests/test_download.py
Due: app

add: bgmi change update_day
  bgmi/lib/controllers.py
  bgmi/lib/table.py
  bgmi/main.py
  bgmi/website/base.py
Due: app

add: bgmi change testcase
  bgmi/main.py
  tests/e2e/test_cli.py
  tests/test_controllers.py
Due: app

fix: e2e test_change case
  tests/e2e/test_cli.py
Due: none

update README
  README.md
Due: none

apply lint changes
  README.md
  bgmi/lib/controllers.py
  tests/test_controllers.py
Due: app

add: update --recent testcase
  tests/e2e/test_cli.py
Due: none

add: upgrade sql patch
  bgmi/lib/sql/5.0.0a4.sql
  bgmi/lib/update.py
  pyproject.toml
Due: app

fix: patch_db type hint
  bgmi/lib/update.py
Due: app

chore: only install pre-commit on python>=3.9
  poetry.lock
  pyproject.toml
Due: none

Add nice server
  bgmi/front/nice_server.py
  poetry.lock
  pyproject.toml
Due: front

Delete for pr
  bgmi/front/nice_server.py
Due: front

Update ui
  bgmi/front/nice_server.py
Due: front

Use select instead of lots of checkbox
  bgmi/front/nice_server.py
Due: front

Add some type annotation
  bgmi/front/nice_server.py
Due: front

More type annotation
  bgmi/front/nice_server.py
Due: front

Fix typing
  bgmi/front/nice_server.py
Due: front

Support show all bangumi instead of only updating
  bgmi/front/nice_server.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/main.py
  bgmi/website/base.py
Due: front, app

Run pre-commit
  bgmi/front/nice_server.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
Due: front, app

Update logger
  bgmi/front/nice_server.py
Due: front

Add hook runner to run script in pre download and post download
  bgmi/config.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/script.py
Due: app

Update readme
  README.md
Due: none

Update type
  bgmi/front/nice_server.py
  bgmi/script.py
Due: front, app

Use click instead of argparse
  bgmi/front/nice_server.py
Due: front

Only reload when --debug
  bgmi/front/nice_server.py
Due: front

Revert "Add hook runner to run script in pre download and post download"
  bgmi/config.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/script.py
Due: app

Update type
  bgmi/script.py
Due: app

Cleanup
  README.md
Due: none

Rename to PRE_ADD_DOWNLOAD and POST_ADD_DOWNLOAD
  README.md
  bgmi/lib/controllers.py
  bgmi/lib/models.py
Due: app

Fix path in readme
  README.md
Due: none

Use __init__
  bgmi/lib/controllers.py
  bgmi/script.py
Due: app

Refactor
  bgmi/front/nice_server.py
Due: front
