Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader, tests

up
  tests/downloader/test_common.py
Due: tests

fix
  bgmi/downloader/deluge.py
  tests/downloader/setup.py
Due: downloader, tests

fix
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  tests/downloader/conftest.py
  tests/downloader/test_common.py
Due: downloader, tests

fix
  bgmi/downloader/qbittorrent.py
  tests/downloader/test_common.py
Due: downloader, tests

fix
  tests/downloader/test_common.py
Due: tests

split ci file
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
Due: none

fix
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  tests/downloader/test_common.py
Due: downloader, tests

rename
  .github/workflows/test-downloader.yaml
Due: none

finish test
  bgmi/downloader/qbittorrent.py
Due: downloader

add comments
  tests/downloader/test_common.py
Due: tests

add log back
  bgmi/lib/download.py
Due: app

add docs
  bgmi/config.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/lib/cli.py
  bgmi/lib/download.py
  bgmi/namespace.py
  bgmi/plugin/download.py
  bgmi/plugin/status.py
  docs/downloader.md
  docs/readme.md
  tests/downloader/test_common.py
Due: app, downloader, tests

style
  bgmi/config.py
  bgmi/lib/cli.py
Due: app

style
  bgmi/lib/cli.py
Due: app

name
  bgmi/lib/cli.py
Due: app

mypy
  bgmi/lib/download.py
Due: app

fix test
  tests/test_cli.py
  tests/test_config.py
Due: tests

style
  bgmi/config.py
  bgmi/downloader/qbittorrent.py
  bgmi/utils/torrent.py
  poetry.lock
  pyproject.toml
  tests/downloader/test_qbittorrent.py
  tests/downloader/test_transmission.py
Due: app, downloader, tests

reove unused args
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/plugin/download.py
Due: app, downloader

update
  docs/downloader.md
  docs/readme.md
Due: none

docs link
  docs/downloader.md
Due: none

update docs
  README.cn.md
  README.md
  tests/downloader/test_transmission.py
Due: tests

refacto(downloader): allow extending by entry_points (#275)
  .github/workflows/test-downloader.yaml
  .github/workflows/test.yaml
  README.cn.md
  README.md
  bgmi/config.py
  bgmi/downloader/__init__.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/base.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
  bgmi/lib/cli.py
  bgmi/lib/download.py
  bgmi/main.py
  bgmi/namespace.py
  bgmi/plugin/__init__.py
  bgmi/plugin/download.py
  bgmi/session.py
  bgmi/website/mikan.py
  docs/downloader.md
  docs/readme.md
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/downloader/conftest.py
  tests/downloader/docker-compose.yaml
  tests/downloader/setup.py
  tests/downloader/test_aria2.py
  tests/downloader/test_common.py
  tests/downloader/test_deluge.py
  tests/downloader/test_qbittorrent.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_download.py
  tests/test_downloader.py
Due: app, downloader, tests

refactor(downloader): `check_deps` when switch download delegate
  bgmi/lib/cli.py
Due: app

refactor(downloader): `check_deps` when switch download delegate (#291)
  bgmi/lib/cli.py
Due: app

fix: regex failure on slient
  bgmi/lib/models.py
  bgmi/utils/__init__.py
  bgmi/website/model.py
  tests/test_utils.py
Due: app, tests

use genexpr
  bgmi/lib/models.py
  bgmi/utils/__init__.py
Due: app

update docstring
  bgmi/website/model.py
Due: app

style
  bgmi/lib/models.py
  codecov.yml
Due: app

add tests
  tests/test_models.py
Due: tests

lower exclude words
  bgmi/lib/models.py
Due: app

add docs
  README.cn.md
  README.md
Due: none

fix(filter): invalid regex won't disable global filter (#295)
  README.cn.md
  README.md
  bgmi/lib/models.py
  bgmi/utils/__init__.py
  bgmi/website/model.py
  codecov.yml
  tests/test_models.py
  tests/test_utils.py
Due: app, tests

add codecov config back
  .github/workflows/test-downloader.yaml
  codecov.yml
Due: none

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
  tests: any of: tests/
