Repository BGmi/BGmi: changes, and which Codecov flags are due for each by the changed paths.
All: front, app, downloader

feat(bangumi,mikan): support precise search by anime tag and subtitle group tag (#381)
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_data_source.py
Due: app

bump: 2.3.0
  pyproject.toml
Due: none

ci: print generated changelog in stdout
  .github/workflows/release.yaml
  .github/workflows/un-released.yaml
Due: none

style: update pre-commit hook psf/black to v23
  .pre-commit-config.yaml
  bgmi/front/resources.py
  bgmi/lib/download.py
  bgmi/lib/update.py
  bgmi/script.py
  bgmi/utils/__init__.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
Due: front, app

chore: remove black from dev-deps
  poetry.lock
  pyproject.toml
Due: none

ci: disable testing in 310
  .github/workflows/test.yaml
Due: none

fix pylint
  bgmi/lib/constants.py
  bgmi/script.py
  bgmi/website/bangumi_moe.py
Due: app

update
  poetry.lock
  pyproject.toml
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: update license year
  LICENSE
Due: none

fix(bangumi_moe): raise for bad status
  bgmi/website/bangumi_moe.py
Due: app

chore: use poetry-plugin-bump
  pyproject.toml
Due: none

bump: v2.3.1
  pyproject.toml
Due: none

feat: 支持配置蜜柑cookie
  README.cn.md
  bgmi/config.py
  bgmi/website/mikan.py
Due: app

Update renovate.json
  .github/renovate.json
Due: none

chore: enable mypy pydantic plugin
  pyproject.toml
Due: none

fix: issue #400
  bgmi/config.py
  bgmi/website/mikan.py
Due: app

fix: eval
  bgmi/website/mikan.py
Due: app

refactor
  bgmi/config.py
  bgmi/session.py
  bgmi/website/mikan.py
Due: app

fix: lint
  bgmi/session.py
  bgmi/website/mikan.py
Due: app

fix: pre-commit
  bgmi/config.py
  bgmi/session.py
  bgmi/website/mikan.py
Due: app

escape string
  bgmi/config.py
  bgmi/session.py
Due: app

fix: wrong password
  bgmi/website/mikan.py
Due: app

remove 401
  bgmi/website/mikan.py
Due: app

update README
  README.cn.md
  README.md
Due: none

wip
  bgmi/config.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/qbittorrent.py
  bgmi/front/admin.py
  bgmi/front/base.py
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/fetch.py
  bgmi/lib/models.py
  bgmi/lib/update.py
  bgmi/others/_bgmi_completion_bash.sh
  bgmi/script.py
  bgmi/setup.py
  bgmi/sql.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_config.py
Due: front, app, downloader

refactor: config
  bgmi/config.py
  bgmi/front/admin.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/controllers.py
  bgmi/lib/models.py
  bgmi/lib/update.py
  bgmi/main.py
  bgmi/plugin/download.py
  bgmi/setup.py
  bgmi/sql.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
Due: front, app

update
  bgmi/front/admin.py
Due: front

rename
  bgmi/config.py
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/qbittorrent.py
Due: app, downloader

lowcase
  bgmi/config.py
  bgmi/front/admin.py
  bgmi/front/base.py
  bgmi/front/index.py
  bgmi/front/resources.py
  bgmi/front/server.py
  bgmi/lib/cli.py
  bgmi/lib/constants.py
  bgmi/lib/controllers.py
  bgmi/lib/download.py
  bgmi/lib/fetch.py
  bgmi/lib/models.py
  bgmi/lib/update.py
  bgmi/script.py
  bgmi/setup.py
  bgmi/utils/__init__.py
  bgmi/website/bangumi_moe.py
  bgmi/website/base.py
  bgmi/website/mikan.py
  bgmi/website/share_dmhy.py
Due: front, app

fix
  bgmi/downloader/deluge.py
Due: downloader

remove
  bgmi/downloader/aria2_rpc.py
  bgmi/downloader/deluge.py
  bgmi/downloader/qbittorrent.py
  bgmi/downloader/transmission.py
Due: downloader

fix test
  tests/conftest.py
Due: none

update
  bgmi/lib/constants.py
Due: app

update
  bgmi/downloader/transmission.py
Due: downloader

fix test
  tests/downloader/test_aria2.py
  tests/downloader/test_common.py
  tests/downloader/test_deluge.py
Due: none

fix test
  tests/test_cli.py
Due: none

fix test
  tests/test_http_api.py
Due: none

Path conditions:
  front: any of: bgmi/front/
  app: any of: bgmi/, but not: bgmi/front/, bgmi/downloader/
  downloader: any of: bgmi/downloader/
